{% load i18n wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if is_popup %}

  {% if not modal_only %}
  <div class="text-center">
    <a
        class="btn bordered text-uppercase btn-primary btn-lg"
        href="#"
        data-toggle="modal"
        data-target="#wt-modal-form-{{ self.id }}"
    >{{ self.name }}</a>
  </div>
  {% endif %}

  <div class="modal modal-form animate zoomIn {% if not request.is_phone %}vertical-centered{% endif %} js-move-to-body" id="wt-modal-form-{{ self.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-form-label-{{ self.id }}">
  <div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-brand">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="navbar-brand" data-placement="bottom"></div>
                <div class="modal-title text-center" id="modal-form-label-{{ self.id }}">{{ self.title }}</div>
            </div>
            <div class="modal-body" >
{% endif %}

        {# COMMON PART #}
        
        
            {% if not is_popup %}
            	{% if self.title %}
		        	<h3 class="title">{{ self.title }}</h3>
			    {% endif %}
            {% endif %}

            <div class="body-text">
            {{ self.body|safe }}

            <form
                class="wtform themed-{{ self.theme.pk }} {{self.theme.css_class}}"
            	id="form-{{ self.id }}"            	
                action="/wtform/{{ self.id }}/"
                method="POST"                
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div id="form-fields-container" class="form-fields-container">
                	{% include 'wtforms/form_fields.html' with form=self.get_form %}                	
                </div>
                
                {% if self.enable_recaptcha %}
				<div class="wt-recaptcha-wrapper form-group{% if self.has_bootstrap_col_class %} col-xs-12{% endif %}">  	
                    {% comment %}
                    <p class="help-block required text-left">{% trans 'Confirm you are not a robot' %}.</p>
                    {% endcomment %}
					<div class="wt-recaptcha" data-sitekey="{{self.recaptcha_sitekey}}"></div>
				</div>  
                {% endif %}
                <div class="clearfix"></div>
				<div class="text-center submit-wrapper"><input type="submit" class="btn reverse" value="{{self.submit_button_title|default:'Submit'}}"></div>
                
            </form>
            </div>
        
        {# END #}
{% if is_popup %}
</div></div></div></div></div>
{% endif %}
