/_doc
/.vagrant
*.pyc
/static
/media
/media_files
/Vagrantfile.local

/vendors/*
/vendors

*/settings/local.py
*/settings/__init__.py

CACHE/*

*.sql
*.tar.gz

*.geany

_vm_def/*

log/*
/log/
.settings
.project
.pydevproject
node_modules

# Environment
.env.local
.env.production
prod_server.env
!.env.*.example
!prod_server.env.example

# Ansible
ansible/logs/ansible-log.log
