{% load i18n wagtailcore_tags wagtailimages_tags wtpages_tags %}  

<div class="overlay">
    <span class="close"></span>
    <div class="content">       
        
        
        <div class="features">
            <h2 id="apartment-title">A</h2>                    
            <div class="info-wrapper">
                <div id="apartment-type" class="info">1 Bedroom </div>
                <div class="area">
                    {% if mode == 'penthouses' %}
                        <div>
                            <h4>{% trans 'Total' %}</h4>
                            <p><span id="apartment-total">540</span> {% trans 'SqFt' %}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Indoor' %}</h4>
                            <p><span id="apartment-int">540</span> {% trans 'SqFt' %}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Outdoor' %}</h4>
                            <p><span id="apartment-ext">540</span> {% trans 'SqFt' %}</p>
                        </div>                         
                    {% else %}
                        <div>
                            <h4>{% trans 'Interiors' %}</h4>
                            <p><span id="apartment-int">540</span> {% trans 'SF' %}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Exteriors' %}</h4>
                            <p><span id="apartment-ext">540</span> {% trans 'SF' %}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
        
        <div id="apartment-floorplan" class="floorplan-img"></div>

        <div class="keyplates-wrapper">
            <a id="apartment-pdf-desktop" href="" target="_blank" class="pdf-button">{% trans 'Download PDF' %}</a>
            <div id="apartment-keyplates-desktop" class="keyplates">
                <div class="kp-title">
                    NORTH <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <div class="kp-items"></div>
            </div>
        </div>
        
    </div>            
</div>