{% extends "base.html" %}
{% load static  wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block section_class %}homepage{% endblock %}
{% block body_class %}homepage{% endblock %}


{% block carousel_main %}
    <div class="home-logo">
        <div>
            <div class="flower animated fadeInLeftBig">
                <img data-lazyload="false" src="{% static 'images/02_Illustrations/SVG/Fill/Yellow/Selva_Fill_Flower.svg' %}" alt="Flower">        
            </div>
            <div class="main-image">
                <img data-lazyload="false"  src="{% static 'images/home-top-image-new.png' %}" alt="Home Image">               
            </div>
            <div class="rays animated fadeInRightBig">
                <img data-lazyload="false"  src="{% static 'images/02_Illustrations/SVG/Fill/Yellow/Selva_Fill_Rays.svg' %}" alt="Rays">
            </div>
            <img data-lazyload="false" class="animated fadeInUpBig" src="{% static 'images/Selva_TaglineLogo_Black.svg' %}" alt="{{ request.root_page.address_name }}">
        </div>
    </div>
{% endblock %}



{% block page_header_outer %}{% endblock %}

