{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if map.layout_image %}
		
	<div tabindex="1" class="interactive-map-layout" style="{{map.style}}">
        {% image map.layout_image max-1920x1920 as orig %}
        <img src="{{ orig.url }}" alt="{{ orig.alt }}"/>
        <div class="points">
            {% for item in map.layout_image_points %}		            			
                <div class="hotspot" tabindex="1" title="{{ item.title }}" style="{{item.style}}" data-toggle="tooltip" data-placement="top">                    
                    {{forloop.counter}}                    
                    <span class="sr-only">{{ item.title }}</span>
                </div>
            {% endfor %}
        </div>            		
    </div>	    

    {% if show_legend %}
    <div class="interactive-map-legend">
        <div class="row">            
            {% for chunk in map.legend %}
            <ol class="col-sm-6">            
                {% for item in chunk %}
                    <li value="{{ item.idx }}">                        
                        {{ item.title }}
                    </li>
                {% endfor %}            
            </ol>        
            {% endfor %}
        </div>
    </div>
    {% endif %}
	   
{% endif %}