{% extends 'base.html' %}
{% load i18n wtpages_tags static wagtailcore_tags wagtailimages_tags %}

{% block hero_banner_content_after %}
<div class="tower-select desktop">
    <ul class="desktop">
        {% for tower in self.get_children.live.specific %}
        <li class="label label-{{forloop.counter}}">
            <a href="{% pageurl tower %}">
                {% image tower.icon_desktop fill-157x145-c100 as icon_desktop %}
                <img src="{{icon_desktop.url}}" alt="{{tower.title}}">
            </a>
        </li>
        {% endfor %}        
    </ul>
    
</div>
{% endblock %}

{% block content %}
<div class="tower-select mobile">    
    <ul class="mobile">
        {% for tower in self.get_children.live.specific %}
        <li class="label label-{{forloop.counter}}">
            <a href="{% pageurl tower %}">
                {% image tower.icon_mobile fill-145x145-c100 as icon_mobile %}
                <img src="{{icon_mobile.url}}" alt="{{tower.title}}">
            </a>
        </li>
        {% endfor %}                
    </ul>
</div>
{{block.super}}
{% endblock %}