@import "css/config";

.promo-box{
	
	.modal-dialog {
		max-width: calc(100% - 30px);
		@media (min-width: 768px) and (max-width: 991px) {
		
    		width: 768px;    		
    	
		}
		&.smaller{
			width: 564px;
		}
	}

	

	.modal-content{
		background-color: $brand-primary;
		.text{
			color: $site-color-dark;
			position: relative;
			text-align: center;
			.rich-text{
				padding-top: 40px;
			}
			.related-links{
				padding-top: 40px;
			}
		}
	}
	.title{
		text-transform: uppercase;
	}

	&.logo{
		.title{
			&:before{
				content: " ";
				display: block;
				height: 70px;
				background-image: url(img_path('logo-pure-black.svg'));
				background-size: 35px 35px;
				background-position: center top;
				background-repeat: no-repeat;
			}
		}
	}

	&.mode-image{
		.image{
			display: block;
			position: relative;
			img{
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
			}
		}
		.related-links{
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			opacity: 0 !important;
			a, button{
				display: block;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
			}
		}

	}

	&.mode-text, &.mode-default{
		.text{

			padding: 60px 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			display: -webkit-flex;
			-webkit-flex-direction: column;
			-webkit-justify-content: center;
			-webkit-align-items: center;

			&>.content{
				position: relative;
				z-index: 2;
			}
		}
	}

	&.mode-text{
		.text{
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}

	&.mode-default{
		.image{						
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			&:after{
				content: " ";
				display: block;
				padding-top: 100%;				
				overflow: hidden;
			}
			@media (max-width: 991px) {
				&:after{
					content: none;
				}
				height: 200px;
			}
		}

		.modal-content{
			@media (min-width: 992px) {
				display: flex;
				display: -webkit-flex;
			}
		}

		

		@media (min-width: 992px) {
			
			.image, .text{
				width: 50%;
			}
		}
	}
	
	
	
	
	
	
	
	
	
	
		
}
