<div class="modal fade book-box vertical-centered" id="book-box" tabindex="-1" role="dialog"
    aria-labelledby="book-box-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" enable-background="new 0 0 20 20" stroke="#fff">
                    <line x1="0" y1="0" x2="20" y2="20" stroke-width="1" ></line>
                    <line x1="0" y1="20" x2="20" y2="0" stroke-width="1" ></line>    
                </svg>
            </button>                
            <div class="modal-body">
                <div id="book-box-title" class="h1 text-center text-uppercase">Book Your Stay</div>
                {% include 'include/book_form.html' with uid='modal-' request=request only %}      
            </div>
        </div>
    </div>
</div>