{% load wagtailimages_tags %}
{% if related_links %}
    <ul class="social-media">
        {% for related_link in related_links %}
        <li>
            <a href="{{related_link.link}}" target="_blank">
                {% if related_link.fontawesome_icon %}
            		<i class="{{related_link.fontawesome_icon}} fa-2x" aria-hidden="true"></i>
                {% endif %}
                <span class="sr-only">{{ related_link.title }}</span>                
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}

