{% load  wagtailimages_tags %}
{% if menu_items %}
{% for item in menu_items %}
<li class="{{ item.active_class }} visible-xs-block">
    <a{% if item.new_window %} target="_blank"{% endif %}            
    {% if item.link_popup_form %}
    href="#"
    data-wtform="{{ item.link_popup_form.pk }}"
    class="wtform-modal-link btn btn-primary"        	
    {% elif item.link_document %}
    class="view-pdf btn btn-primary"
    data-title="{{ item.text }}"
    href="{{ item.link_document.file.url }}"        	        	
    {% else %} 
    href="{{ item.href }}"
    class="btn btn-primary"
    {% endif %}
    >            
    {{ item.text }}            
    </a>            
</li>
{% endfor %}
{% endif %}
