{% load wagtailimages_tags %}
{% if related_links %}
<div class="header-social hidden-xs">        
    {% for related_link in related_links %}        
        <a{% if related_link.new_window %} target="_blank"{% endif %} title="{{ related_link.text }}"
        {% if related_link.link_popup_form %}
        href="#"
        data-wtform="{{ related_link.link_popup_form.pk }}"
        class="wtform-modal-link"        	
        {% elif related_link.link_document %}
        class="view-pdf"
        data-title="{{ related_link.text }}"
        href="{{ related_link.link_document.file.url }}"        	        	
        {% else %} 
        href="{{ related_link.link_external }}"
        {% endif %}
        >            
            {% if related_link.fontawesome_icon %}
                <i class="{{related_link.fontawesome_icon}} " aria-hidden="true"></i>
            {% endif %}
            <span class="sr-only">{{ related_link.title }}</span>                
        </a>                    
    {% endfor %}
</div>
{% endif %}
