<svg class="pattern top-left desktop" width="475px" height="351px" viewBox="0 0 475 351" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.685914855">
        <g>
            <g transform="translate(157.490945, 93.490945) rotate(-315.000000) translate(-157.490945, -93.490945) translate(-21.009055, -177.009055)">
                <rect class="p1" fill-opacity="0.8" fill="#37509C" x="0" y="269" width="272" height="272"></rect>
                <rect class="p2" fill-opacity="0.870000005" fill="#4975C1" x="272" y="269" width="85" height="85"></rect>
                <rect class="p3" fill-opacity="0.870000005" fill="#4975C1" x="3" y="184" width="85" height="85"></rect>
                <rect class="p4" fill-opacity="0.8" fill="#322E95" x="88" y="0" width="269" height="269"></rect>
            </g>
        </g>
    </g>
</svg>