<svg class="pattern bottom-right" width="694px" height="462px" viewBox="0 0 694 462" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <rect id="path-1" x="0" y="0" width="1440" height="733"></rect>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-746.000000, -271.000000)">
            <g>
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g></g>
                <g mask="url(#mask-2)">
                    <g transform="translate(1207.449621, 686.449621) rotate(-315.000000) translate(-1207.449621, -686.449621) translate(914.449621, 275.949621)">
                        <rect class="p1" fill-opacity="0.7" fill="#4262BA" x="117.28336" y="469.133439" width="234.56672" height="234.56672"></rect>
                        <rect class="p2" fill-opacity="0.819999993" fill="#37509C" x="0.868765628" y="351.85008" width="117.28336" height="117.28336"></rect>
                        <rect class="p3" fill-opacity="0.870000005" fill="#4975C1" x="0" y="469.133439" width="117.28336" height="117.28336"></rect>
                        <rect class="p4" fill="#4975C1" x="351.85008" y="118.152125" width="117.28336" height="117.28336"></rect>
                        <rect class="p5" fill-opacity="0.5" fill="#6A8CBE" x="0" y="586.416799" width="117.28336" height="234.56672"></rect>
                        <rect class="p6" fill-opacity="0.8" fill="#322E95" x="117.28336" y="234.56672" width="234.56672" height="234.56672"></rect>
                        <rect class="p7" fill-opacity="0.8" fill="#37509C" x="350.981314" y="234.56672" width="234.56672" height="234.56672"></rect>
                        <rect class="p8" fill-opacity="0.5" fill="#6A8CBE" x="117.28336" y="0" width="234.56672" height="234.56672"></rect>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>