.btn-plus {
    cursor: pointer;
    background: $color_aqua-medium;
    border-width: 0;
    color: #FFF;
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0;
    transition: 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium) {
      height: 42px;
      width: 42px;
    }
    svg {
      transform: rotate(0);
      transform-origin: 50% 50%;
      transition: 300ms ease;
      height: 12px;
      width: 12px;
      @include breakpoint(medium) {
        height: 16px;
        width: 16px;
      }
      g {
        transition: 100ms ease;
      }
    }
    &.active {
      background: #FFF;
      svg {
        transform: rotate(45deg);
        g {
          stroke: $color_aqua-medium;
        }
      }
    }
    &.bottomRight {
      position: absolute;
      right: 15px;
      bottom: 15px;
      @include breakpoint(medium) {
        right: 20px;
        bottom: 20px;
      }
    }
  }