$b1-width: 21%;
$b1-height: 100%;

$b2-width: 16%;
$b2-height: 57%;

$b3-width: 16%;
$b3-height: 43%;

$b4-width: 17%;
$b4-height: 61%;

$b5-width: 20%;
$b5-height: 42%;

$b6-width: 30%;
$b6-height: 61%;

$b7-width: 20%;
$b7-height: 42%;

$b8-width: (100% - $b1-width - $b2-width - $b4-width - $b6-width);
$b8-height: 100%;

$b9-width: 25%;
$b9-height: 18%;

$b10-width: $b8-width;
$b10-height: 50%;

.collage.collage-10{
    position: relative;
    overflow: hidden;
    &:after{
        content: " ";
        display: block;
        padding-top: 30%;
    }
    .chunk{
        position: absolute;
        left: -5px;
        top: -5px;
        right: -5px;
        bottom: -5px;
    }
    .list-item{
        display: block;                
        position: absolute;
        a{
            display: block;
            position: absolute;        
            left: 5px;
            top: 5px;
            right: 5px;
            bottom: 5px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;       
            
            // &:after{
            //     content: " ";
            //     display: block;
            //     position: absolute;
            //     z-index: 2;
            //     left: 0px;
            //     top: 0px;
            //     right: 0px;
            //     bottom: 0px;
            //     background-color: transparentize($site-color-dark, 0.86);
            //     -webkit-filter: grayscale(100%);
            //     filter: grayscale(100%);
            //     @include transition;
            // }
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include transition;
    
            &:hover, &:focus{
                // &:after{
                    
                // }
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }        
        }

        &:nth-of-type(1){
            left: 0px;
            top: 0px;
            width: $b1-width;
            height: $b1-height;
        }
        &:nth-of-type(2){            
            left: $b1-width;
            top: 0px;
            width: $b2-width;
            height: $b2-height;
        }
        &:nth-of-type(3){
            left: $b1-width;
            top: $b2-height;
            width: $b3-width;
            height: $b3-height;
        }
        &:nth-of-type(4){
            left: ($b1-width + $b2-width);
            top: 0px;
            width: $b4-width;
            height: $b4-height;
        }
        &:nth-of-type(5){
            left: ($b1-width + $b2-width);
            top: $b4-height;
            width: $b5-width;
            height: $b5-height;            
        }
        &:nth-of-type(6){            
            left: ($b1-width + $b2-width + $b4-width);
            top: 0px;
            width: $b6-width;
            height: $b6-height;            
        }
        &:nth-of-type(7){
            left: ($b1-width + $b3-width + $b5-width);
            top: $b6-height;
            width: $b7-width;
            height: $b7-height;                        
        }
        &:nth-of-type(8){
            left: (100% - $b8-width);
            top: 0px;            
            width: $b8-width;
            height: $b8-height;                        
        }
        &:nth-of-type(9){
            background-color: $site-color-white;
            z-index: 2;
            left: 0;
            bottom: 0px;            
            width: $b9-width;
            height: $b9-height;                        
            a{
                top: 10px;
                right: 10px;
            }            
        }
        &:nth-of-type(10){
            background-color: $site-color-white;
            z-index: 2;
            right: ($b8-width/2);
            bottom: 0px;            
            width: $b10-width;
            height: $b10-height;                        
            a{
                top: 10px;
                left: 10px;
                right: 10px;
            }            
        }
    }
    
}