article{
  .content {
    text-align: left;
    margin: 80px 0 50px;
    @include breakpoint(medium) {
      text-align: center;
      margin: 150px 0 75px;
    }
    &.bottom {
      margin: 86px 0;
      @include breakpoint(medium) {
        margin: 100px 0 150px;
      }
    }
    .body-text {
      width: 100%;
      margin: 0 auto;
      @include breakpoint(medium) {
        max-width: 500px;
      }
      &.larger {
        max-width: 630px;
      }
      &.spacing {
        margin: 40px auto 50px;
      }
      &.more-spacing {
        margin: 40px auto 50px;
        @include breakpoint(medium) {
          margin: 50px auto 160px;
        }
      }
    }
    .logo {
      width: 132px;
      @include breakpoint(medium) {
        width: 162px;
      }
    }
  }
  
  .flexbox {
    justify-content: space-between;
    align-items: center;
    &.orderChanged {
      .flex-item {
        @include breakpoint(medium) {
          &:first-child {
            order: 2;
          }
          &:last-child {
            order: 1;
            padding: 0 70px 0 0;
          }
        }
      }
    }
  }
  .flex-item {
    text-align: left;
    @include breakpoint(medium) {
      flex: 0 1 50%;
      &:last-of-type {
        padding-left: 70px;
      }
    }
    img {
      max-width: 100%;
    }
    h1, .h1 {
      @include breakpoint(smalldown) {
        margin-top: 50px;
      }
    }
    .body-text {
      margin: 40px 0 0;
      margin-bottom: 25px;
      max-width: 400px;
      width: 100%;
    }
  }
} 

