@import "css/config";

.faq-list{
    padding: 20px 0px;
    .item{
            padding-bottom: 10px;
    }
    .question{
            display: block;
            line-height: 20px;
            position: relative;
            padding-left: 30px;
            //color: $site-color-dark;
            font-size: 20px;

            -webkit-transition: all .2s ease-in-out;            
            transition: all .2s ease-in-out;

            &:hover, &:focus{
                color: #666;
            }


            &:before{
                    position: absolute;
                    display: block;
                    top: 0px;
                    left: 0px;
                    font-size: 20px;
                    font-family: "FontAwesome";
                    font-weight: 900;
                    width: 30px;
                    text-align: center;
                    //color: $site-color-dark;
            }
            &[aria-expanded="true"]{
                &:before{
                    content:"\f106";
                }
            }
            &[aria-expanded="false"]{
                &:before{
                    content:"\f107";
                }
            }
    }

    .answer > div{
        padding-bottom: 30px;
        padding-left: 30px;
        &>div{
             
            margin-top: 20px;             
             
            p:last-child{
                margin-bottom: 0px;
            }
             
        }
    }

}
