.features-block {
    padding-bottom: 100px;

    .links-description{
      text-align: center;
      max-width: 260px;      
    }

    .related-links{
      padding-top: 50px;
      .links > a,
      .links > button,
      .btn{
        display: block;
        text-align: center;
        max-width: 260px;
        white-space: normal;
        height: auto;
        & + a,
        & + button,
        & + a.btn{
          margin-top: 10px;
        }
      }
    }

    
    // .rich-text >  ul{
    //   display: flex;
    //   flex-wrap: wrap;
    //   width: 100%;
    //   & > li{
    //      width: 100%;
    //      margin-bottom: 15px; 
    //      @include breakpoint(large) {
    //       width: 45%;
    //       margin-right: 5%;
    //     }
    //   }      
    // }

    
    .flexbox {
        justify-content: space-between;
        align-items: flex-start;
    }

    .flex-item {
        &:first-of-type {
            margin-bottom: 50px;

            h1 {
                margin-bottom: 50px;
            }
        }

        @include breakpoint(large) {
            &:first-of-type {
                flex: 0 1 350px;
            }

            &:last-of-type {
                flex: 0 1 calc(100% - 350px);
            }
        }

        @include breakpoint(largedown) {            
            flex: 0 1 100%;
            &:last-of-type {
                padding-left: 0px;
            }
        }
    }

    .accordion-container {
        border-bottom: 1px solid rgba(#fff, 0.2);

        .accordion {
            border-top: 1px solid rgba(256, 256, 256, 0.2);
            padding: 0 20px;
            
          }
          
          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0;
            cursor: pointer;
            transition: 300ms ease;
            .subhead {
              .number {
                font-size: 25px;
                margin-right: 20px;
              }
              .smaller {
                font-size: 12px;
              }
              &.hotspot {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &[aria-expanded="true"]{
                .btn-plus{
                    background: #FFF;
                    svg {
                        transform: rotate(45deg);
                        g {
                            stroke: $color_aqua-medium;
                        }
                    }
                }                
            }

          }

          .columns{
            
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 30px;
              & > .col {
                width: 100%;
                & + .col{
                  margin-top: 5px;
                }
                @include breakpoint(xlarge) {
                  width: 45%;
                  margin-right: 5%;
                  & + .col{
                    margin-top: 0;
                  }
                }
              }
            
          }
          
          .rich-text {
            padding: 0;

            h2, h3, h4{
                font-family: Gotham;
                font-weight: 500;
                font-size: 18px;
                color: #00d0e6;
                letter-spacing: 0;
            } 
            
            
            // transition: 300ms ease;
            // pointer-events: none;
            .subhead {
              // font-family: "BaileySansITC";
              // font-weight: 700;
              
              font-family: 'nunito-sans';
              font-weight: 400;
              
              font-style: italic;
              margin: 0 0 10px;
            }
            // & > ul {
            //   display: flex;
            //   flex-wrap: wrap;
            //   margin-bottom: 30px;
            //   & > li {
            //     width: 100%;
            //     @include breakpoint(large) {
            //       width: 45%;
            //       margin-right: 5%;
            //     }
            //   }
            // }
            span {
              font-family: 'BaileySansITC';
              font-size: 16px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 18px;
            }
            li {    
              margin-bottom: 15px;
            }
            
            li ul li {
              margin-top: 15px;
              padding-left: 25px;
            }
            p {
              margin: 0 0 0 32px;
              line-height: 17px;
              font-size: 16px;
              max-width: 220px;
              width: 100%;
              @include breakpoint(medium) {
                max-width: 380px;
              }
            }
          }
    }
}