@font-face {
    font-family: "BaileySansITC";
    src: url("/static/fonts/BaileySansITC-Bold.woff2") format("woff2"),
        url("/static/fonts/BaileySansITC-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BaileySansITC";
    src: url("/static/fonts/BaileySansITCTTBook.woff2") format("woff2"),
        url("/static/fonts/BaileySansITCTTBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BaileySansITC";
    src: url("/static/fonts/BaileySansITC-BookItalic.woff2") format("woff2"),
        url("/static/fonts/BaileySansITC-BookItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("/static/fonts/Gotham-Light.woff2") format("woff2"),
        url("/static/fonts/Gotham-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/static/fonts/Gotham-Book.woff2") format("woff2"),
        url("/static/fonts/Gotham-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/static/fonts/Gotham-Medium.woff2") format("woff2"),
        url("/static/fonts/Gotham-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/static/fonts/Gotham-Bold.woff2") format("woff2"),
        url("/static/fonts/Gotham-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel-Medium.woff2') format('woff2'),
        url('/static/fonts/Cinzel-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Semi';
    src: url('/static/fonts/Cinzel-SemiBold.woff2') format('woff2'),
        url('/static/fonts/Cinzel-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel-Regular.woff2') format('woff2'),
        url('/static/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel-Black.woff2') format('woff2'),
        url('/static/fonts/Cinzel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel-Bold.woff2') format('woff2'),
        url('/static/fonts/Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Normal';
    src: url('/static/fonts/Helvetica-Normal.woff2') format('woff2'),
        url('/static/fonts/Helvetica-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Extra';
    src: url('/static/fonts/Cinzel-ExtraBold.woff2') format('woff2'),
        url('/static/fonts/Cinzel-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

