article.gallery-type-flex,
div.gallery-type-flex {

    padding-bottom: 40px;

    .view-all-wrapper {
        padding-top: 20px;
        width: 100%;
    }

    .grid {
        .square {
            position: relative;

            &>.image {
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                overflow: hidden;
            }

            

        }

        &.mode-lt-6 {
            .square {
                display: block;
                float: left;
                position: relative;
                top: 0;
                overflow: hidden;
                width: 25%;
                //margin: 0 1px 1px 0;
                padding-bottom: 25%;



                @media only screen and (max-width: 980px) {
                    width: 49.5%;
                    margin: 0 .5% .5% 0;
                    padding-bottom: 49.5%;
                }

                @media only screen and (max-width: 40em) {
                    width: 100%;
                    margin: 0 0 .3% 0;
                    padding-bottom: 100%;
                }
            }
        }

        &.mode-6 {

            .square {
                display: block;
                float: left;
                position: relative;
                top: 0;
                overflow: hidden;
                width: 25%;
                //margin: 0 1px 1px 0;
                padding-bottom: 25%;
                background-size: cover;
                background-position: center;
                //border: 1px solid white;

                @media only screen and (max-width: 980px) {
                    width: 49.5%;
                    margin: 0 .5% .5% 0;
                    padding-bottom: 49.5%;
                }

                @media only screen and (max-width: 40em) {
                    width: 100%;
                    margin: 0 0 .3% 0;
                    padding-bottom: 100%;
                }

                @media only screen and (min-width: 981px) {

                    &:nth-child(6n+2),
                    &:nth-child(6n+4) {
                        width: 50%;
                    }

                    // &:nth-child(6n+5){padding-bottom: 50%;}
                    // &:nth-child(6n+8){margin-top:-25%;}
                    // &:nth-child(6n+9){margin-top: 0%;}
                    // &:nth-child(6n+10){padding-bottom: 50%; margin-top:-25%;}
                    // &:nth-child(6n+11){width: 50%; padding-bottom: 50%; margin-top:-0%;}
                    // &:nth-child(6n+12){width: 50%; margin-top:-25.0%;}			  			  
                }
            }

            &.remind-2{

                .square{
                    @media only screen and (min-width: 981px) {
                        &:nth-last-child(1),
                        &:nth-last-child(2){
                            width: 50% !important;
                        }
                    }
                }

            }

            &.remind-1{

                .square{
                    @media only screen and (min-width: 981px) {
                        &:nth-last-child(1){                      
                            width: 100% !important;
                        }
                    }
                }

            }
        }


    }


}