.places-widget {

    
    display: flex;
    flex-wrap: wrap;
    


    .map-filter {
        background: $color_navy;        
        width: 100%;
        order: 2;
        padding: 30px 20px;
        overflow: hidden;
        display: block;

        @include breakpoint(medium) {
            order: 1;
            height: 90vh;
            width: 30%;            
        }

        @include breakpoint(large) {
            width: 20%;
        }
    }

    .category {
        border-bottom: 1px solid rgba(#FFF, 0.2);


        .places {
            max-height: 35vh;
        }

    }

    .icon {        
        position: relative;    
        height: 20px;
        width: 20px;
        transition: 300ms ease;
        background-color: transparent;

        border: 2px solid #fff;

        .box-filled {
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            transition: 300ms ease;
            opacity: 0;
        }
        
        
    }

    .title {
        display: flex;
        cursor: pointer;
        width: 100%;
        align-items: center;
        padding: 5px 0;

        .subhead {
            font-size: 12px;
            line-height: 1;
            margin-left: 10px;
            text-transform: uppercase;
        }

        &[aria-expanded="true"]{
            .box-filled{
                opacity: 1;
            }
        }
    }

    .places {
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            max-height: 100px;
            background-color: rgba(#FFF, 0.1);
            // border-radius: 10px;
        }

        ul {
            padding: 0 0 20px 29px;
        }

        li {
            cursor: pointer;
        }
    }

    

    .vue-map-container {
        height: 50vh;
        width: 100%;
        order: 1;

        @include breakpoint(medium) {
            order: 2;
            height: 90vh;
            width: 70%;
        }

        @include breakpoint(large) {
            width: 80%;
        }
    }

    // .vue-map-container .gm-style-iw+div,
    // .vue-map-container .gm-style-pbc+div>div+div>div+div+div+div>div>div>div {
    //     display: none;
    // }

    // .gm-style>div>div>div+div div {
    //     overflow: visible !important;
    // }

    // .gm-style-iw {
    //     left: 50% !important;
    //     width: 200px !important;
    //     transform: translateX(-50%);
    //     text-align: center;
    //     position: relative;
    //     overflow: inherit !important;

    //     &:after {
    //         content: '';
    //         position: absolute;
    //         background-color: rgba(#FFF, 0.5);
    //         height: 15px;
    //         width: 15px;
    //         bottom: -40px;
    //         left: 49.75%;
    //         transform: translateX(-50%);
    //     }
    // }

    // .info-window {
    //     padding: 10px 15px 8px;
    //     font-family: 'BaileySansITC';
    //     background: #fff;
    //     color: $color_bg;
    //     font-size: 12px;
    //     box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
    //     pointer-events: none;
    // }
}