body{
	
	padding-top: 55px;	
	
	&.has-top-promo-line-1{
		padding-top: 87px;
	}
	
	// &.has-top-image-0{
	// // 	&.has-top-promo-line-1{			
	// // 		-webkit-transition: padding-top .3s ease-in-out;				
	// // 		transition: padding-top .3s ease-in-out;
	// //    }
	// 	@media (max-width: $grid-float-breakpoint-max){
	// 		padding-top: 60px;
	// 		&.has-top-promo-line-1{
	// 			padding-top: 92px;				
	// 	   }
	// 	}
	// 	@media (min-width: $grid-float-breakpoint){
	// 		padding-top: 100px;
	// 		&.has-top-promo-line-1{
	// 		 	padding-top: 132px;
	// 		}
	// 	}
	// }
}


.promo-line{
	position: relative;
	@media (max-width: $grid-float-breakpoint-max){
		@include transition;
		position: absolute;
		top: 100%;
		left: 0px;
		right: 0px;
		opacity: 0;
		body.body-dark-theme &{
			border-top: 1px solid #222;
		}
	}
	color: $site-color-white;
	background-color: $site-color-dark;
	text-align: center;
	text-transform: none;
	padding: 5px 35px;

    @media (min-width: 768px){
    	padding-left: 200px;
		padding-right: 200px;
		body.body-dark-theme &{
			border-bottom: 1px solid #222;
		}
    }

	margin: 0;
	border: none;
	border-radius: 0;	
	.rich-text{
		color: $site-color-white;
		
		p{
			margin: 0;			
		}
		a{
			color: $site-color-white !important;
			@include transition;
			&:hover, &:focus{
				color: $site-color-hover !important;
			}
		}
	}
	
	.close{
		display: block;
		position:absolute;
		top: 50%;		
		left: auto;
		right: 10px;

		font-family: sans-serif, monospace;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

		color: $site-color-white;
		text-shadow: none;
		opacity: 1;
		@include transition;
		&:hover, &:focus{
			color: $site-color-hover;
		}
	}
}



header{
	

	.navbar-brand{
		.logo-white{
			display: none;			
		}
		body.body-dark-theme &{
			.logo-white{
				display: block;
			}		
			.logo{
				display: none;
			}	
			&:after{
				color: $site-color-white;
			}	
		}
	}
		
	
	.navbar{
		border: none;
		
		
		&>.container-fluid{
			position: relative;	
		}

		&.affix{
			.promo-line	{
				display: none;
			}
		}
	
	    
	    margin: 0px;	    
	    top: 0px;
	    left: 0px;
	    right: 0px;	    
	    
	    		
	    margin-bottom: 0;
	    border-radius: 0;

		.navbar-header{
			float: right !important;
		}
	    
	    .navbar-main{
	    	

			li {
	    		float: none;    			    		
				padding-top: 5px;
				padding-bottom: 5px;	

				display: list-item;
				
				&>a, &>span{
					text-transform: uppercase;					
	    		} 
	    		&>a{
	    			&:hover, &:focus{
	    				color: $site-color-hover;
	    				background: none;
	    			}
	    		}
	    		
	    		&>ul>li>a{
	    			&:hover{
	    				color: $site-color-hover;
	    				background: none;
	    			}
	    		}	
			 	
			}
			
			
		
		}
	

			li.view-all{
				margin-bottom: 30px;
				text-transform: none;
				a{
					font-weight: 200 !important;
				}
			}

			&.affix{  					
				   box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
				   body.body-dark-theme &{
					box-shadow: 0px 2px 3px 0px invert(rgba(0,0,0,0.1));
				   }
  			}

  			.fa-angle-down, .fa-angle-up{
  				display: none !important;
  			}

			.btn-book-mobile{
				display: block;
				position: absolute;
				top: 0px;
				right: 15px;
				top: 8px;				
				width: 63px;
				line-height: 1;
				padding: 4px;
				font-size: 12px;
				
			}
			
			.navbar-main{				
				background-color: $brand-primary-black;
				background-image: url(img_path('bg-charol.jpg'));
				
				margin-top: 0px;
				margin-bottom: 0px;
				float: none;
				text-align: center;
  				
				display: flex;
 				flex-direction: column;
				text-align: center;

				display: -webkit-flex;
 				-webkit-flex-direction: column;
				-webkit-text-align: center;
				
  				max-height: calc(100vh - 52px);
				padding-top: 110px;
  				padding-bottom: 60px;

                &:before, &:after{
                	content: none;
                }
  				
			}
			
			.navbar-toggle {
				display: block !important;
				z-index: 2;
				border: none;
    			float: right;
    			margin-right: 0px;
				margin-top: 7px;
			}		
			.navbar-toggle .icon-bar {
				background-color: $brand-primary;				
				&.icon-bar:nth-of-type(3) {
					left: -5px;					
					width: 32px;
				}
			}
			
			position: fixed !important;
			top: 0px;
			bottom: auto;
			height: 55px;	   		
			padding-top: 5px;
			padding-left: 0px;
			padding-right: 0px;
			min-height: 0;
			
			background: $brand-primary-black;
			
			
 			#navbar-collapse-1 {
 			    position: absolute;
				z-index: 1;
 			    margin: 0px;
 			    top: 0px;
 			    right: -100%;
               	left: auto;
 			    width: 100%;
 			    
				height: 100vh !important;
				overflow-y: auto;
				background-color: $brand-primary-black;
				background-image: url(img_path('bg-charol.jpg'));
				
 			    
 			}

			.navbar-brand {
				height: auto;
				padding: 0px 10px;
				margin-left: 0 !important;

				position: absolute;
				z-index: 2;
				float: none;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				left: 50%;
				top: 5px !important;
				
				&>img{
					width: 217px;					
				}
				
			}


			
			
		
			.navbar-nav li {
				text-align: center;
				position: static;

				&.dropdown{
					&>a{
						background-color: $brand-primary;
					}					
					.dropdown-menu{
					    background-color: $brand-primary-black;	
					}
                    &.open > .dropdown-menu{
						position: absolute;
						z-index: 1;
						padding-top: 60px;
						overflow: auto;
						top: 0px;
						left: 0px;
						width: 100%;
						height: calc(100vh - 59px);
						padding-left: 15px;
						padding-bottom: 60px;
						
					}					
				}

				

				&>a{					
				    text-decoration: none !important;
					&.dropdown-toggle{
						&[aria-expanded="false"]{
							position: relative;														
							display: flex !important;
							display: -webkit-flex !important;
							align-items: center;
							justify-content: space-between;
							-webkit-align-items: center;
							-webkit-justify-content: space-between;
							
							&:after{
                                content: "\f061";
                                font: normal normal normal 14px/1 FontAwesome;
								font-size: 16px;								
								text-rendering: auto;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
							}
						}
						&[aria-expanded="true"]{
							position: fixed;	
							z-index: 2;													
							top: 62px;
							left: 0px;
							width: 100%;
							display: flex !important;
							display: -webkit-flex !important;
							align-items: center;							
							-webkit-align-items: center;
							background-color: $brand-primary-black !important;
							
							
							&:before{
                                content: "\f060";
                                font: normal normal normal 14px/1 FontAwesome;
								font-size: 16px;								
								text-rendering: auto;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								margin-right: 20px;
							}
						}
					}
				}
				&>a, &>span{
					display: inline-block;
					color: $brand-primary;										
					padding: 5px 25px;
					
				}
				&>a{
					
					
					&:hover, &:focus{
						color: $header-nav-dropdown-hover-color;
					}
				}
			}
		
			.dropdown-menu{
				text-align: center;
				.dropdown-menu{
					li{
						font-size: 16px !important;
					}
				}
				
			}
			
		
		
	
	
	    @include transition;
	    
	
	    & > .container{
	        position: relative;
	        padding: 0 !important;
	        height: 100%;
		}
		
		@media ( min-width : 768px ) {
			.dropdown-menu{
				margin-top: 0px;
				margin-bottom: 0px;
				padding-top: 0px;
				padding-bottom: 0px;
				padding: 10px;
			}
		}

		.navbar-main{ 
			li.active > a  {
				font-weight: 900 !important;				
				color: $site-color-hover;
				
		    }

		    li > a:hover, li > a:focus  {			
				@media ( max-width : 767px ) {
					color: $site-color-hover;
				}
		    }		    
		
			& > li.active > a {				
				body.body-dark-theme &{
					color: $site-color-white;
				}
				@media ( max-width : 767px ) {
					color: #777;
				}
		    }
		    
		}  

		
		
		a, .dropdown-toggle{
			& > .fa-angle-up{
				display: none;
			}
		}
		
		

		.open{
			&>a, .dropdown-toggle{
				.fa-angle-up{
					display: inline-block;
				}	
				.fa-angle-down{
					display: none;
				}
			}
		}
		
		.dropdown-menu{				
		    & > li{
		    	
		    	& > a{				
		    	    display: block;
		    	    padding-top: 10px;
		    	    @media (min-width: 768px){
		    	        color: #ccc;	
		    	    }				    
		    	    padding-bottom: 10px;
		    	    padding-left: 10px;
		    	    padding-right: 10px;		    	    
			    }
		    }
			
			.open{				
				&>a{
					color: $site-color-dark;
				}
			}
		}

	   	   
	    .dropdown-menu{
			background-color: $header-nav-dropdown-bg-color;
            
	        border: 0;
	        border-radius: 0;	        
	        //*{ text-align: left; }
	        &>li{
	        	&>a{
	        		@media (min-width: 768px){
	        		    color: #777;	
	        		}
	        		
	        		span{
	        			text-transform: none;
	        			&.address{
	        				display: block;
	        			}
	        		}
	        		&:hover, &:focus{
	        			background-color: transparent !important;
	        			color: $header-nav-dropdown-hover-color;
	        		}
	        	}
	        }
	    }
	    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	        background-color: transparent !important;
	        border: 0;
	    }
		   
	}

	.header-social{
		position: absolute;
		top: 0px;
		left: 20px;
		height: 100%;
		display: flex;
		align-items: center;
		display: -weblit-flex;
		-weblit-align-items: center;		    
		
		a{			
			font-size: 21px;
			color: $brand-primary;	
			margin: 5px;
			&:hover, &:focus{
				color: $site-color-hover;
			}

		}
		
	}
	
}

		