.modal-carousel-default{
    
}

.modal-carousel-default .modal-content:AFTER{
    content: ' ';
    display: block;
    padding-top: 67%;
}

.modal-carousel-default .carousel-inner>.item>.image{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; 
}

.modal-carousel-default .carousel-caption:AFTER {
    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;    
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; 
    background: #000;
    opacity: 0.35;     
} 

.modal-carousel-default .carousel, .modal-carousel-default .carousel-inner{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}     

.modal-carousel-default .carousel-inner>.item{
    height: 100%;
}


 .modal-carousel-default .carousel-control{
     background: #CC333F;
     top: 50%;
     bottom: auto;
     height: 40px;
     line-height: 40px;
     width: 40px; 
     margin-top: -20px;
     border-radius: 100px;
     padding: 0px;
     opacity: 0.9;  
 }
 
 .modal-carousel-default .carousel-control>span{
    position: static;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    margin-top: -2px;  
 } 
 
 .modal-carousel-default .carousel-control:HOVER{
    color: #ba930d;
    opacity: 1;
 }
 
 .modal-carousel-default .carousel-control.right{
    right: 20px;
 }
 
 .modal-carousel-default .carousel-control.left{
    left: 20px;
 }
 
.modal-carousel-default .close{
    opacity: 1;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: normal;
    color: #fff;
    line-height: 1;  
}  

.modal-carousel-default .close:HOVER {
    color: #ba930d; 
}

.modal-carousel-default .carousel-control:HOVER span{
    color: #ba930d;
}  
  
.modal-carousel-default .carousel-control{
    color: #CC333F;
}  
  
  
.modal-carousel-default .carousel-indicators li{
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 14px; 
    height: 14px;
    border: none;
    background: #fff;
}  
  
.modal-carousel-default .carousel-indicators .active{
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 14px; 
    height: 14px;
    border: none;
    background: #CC333F; 
}  
