/* ############################ */
.portfolio-modal{

    .image{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
    }

    .carousel-caption{
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px;
    }

    .dsc{
        font-size: 18px;
    }

//     .carousel-control{
//         top: 50%;
//         bottom: auto;
//         height: 50px;
//         line-height: 50px;
//         width: 50px;
//         margin-top: -25px;
//         padding: 0px;
//         opacity: 0.9;
//         background: none;        
//         &>span{
//             position: static;
//             color: #fff;
//             margin: 0;
//             padding: 0;
//             height: 50px;
//             width: 50px;
//             line-height: 50px;
//             margin-top: 1px;
//             font-size: 50px;
//         }
// //         @media (min-width: 768px){
// //         	&.left{left: -50px;}
// //         	&.right{right: -50px;}
// //         }
//         &:HOVER{
//             color: $site-color-selected-hover;
//             opacity: 1;
//         }
//     }

    .carousel-control{
        opacity: 1;
        background: none;        
        width: 50px;
        height: 50px;
        top: auto;
        bottom: 50px;
        background-color: transparentize($site-color-dark, 0.9);        
        span{
            display: none;
        }
        &:after{
            @include transition;
        }
        &.left:after{
            content: " ";
            display: block;
            width: 30px;
            height: 30px;
            border-left: 2px solid $site-color-white;
            border-top: 2px solid $site-color-white;
            transform: rotate(-45deg) translateY(18px) translateX(5px);                        
        }
        &.right:after{
            content: " ";
            display: block;
            width: 30px;
            height: 30px;
            border-right: 2px solid $site-color-white;
            border-top: 2px solid $site-color-white;
            transform: rotate(45deg) translateY(5px) translateX(9px);
        }

        &:hover, &:focus{
            &:after{
                border-color: $site-color-hover;
            }
        }
        
        
    }


    .close{        
        opacity: 1;
        text-shadow: none;        
        position: absolute;
        z-index: 10;
        
        color: #fff;
        
        border: 0;

        width: 30px;
		height: 30px;		
		top: 20px;

    	right: 20px;	
    	@media (max-width: $grid-float-breakpoint-max){
    	    left: auto;
    	    right: 20px;
    	}
        
        
        background-color: transparentize($site-color-dark, 0.86);

        &>svg{
            stroke: $site-color-sand;			
            @include transition;
        }
        &:hover, &:focus{
            &>svg{
                stroke: $site-color-hover;
            }
            
        }
        
        
    }

    .close:HOVER {
        color: $site-color-highlight;
    }

    .carousel-control:HOVER span{
        color: $site-color-hover;
    }

    .modal-dialog {
        position: fixed;

        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

//         @media (min-width: 768px){
//             top: 50px;
//             bottom: 50px;
//             left: 150px;
//             right: 150px;
//         }

        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
        background-color: rgba(0,0,0,0.86);
    }


    .carousel,  .carousel-inner{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        //overflow: hidden;
    }

    .carousel-inner>.item{
        height: 100%;
    }

    .carousel-caption{
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px;
    }
}
