nav {
  width: 100%;
  // height: 80px;
  position: fixed;
  top: -70px;
  left: 0;
  z-index: 100;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background: $color_bg;
  z-index: 1000;

  // transition: 500ms ease;
  &.atTop {
    // background: transparent;
    top: 0;
    position: absolute;
    transition: 500ms ease;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: top 200ms ease;

    .logo {
      opacity: 1;
    }

    .mobile {
      padding-top: 0;
    }

    .btn {
      padding: 33px 30px 30px;
    }
  }

  &.zIndex {
    z-index: 1;
  }

  body.hide-nav &, body.slideUp & {
    top: -100% !important;
  }

  a,
  .btn {
    // font-family: "Gotham";
    
    font-family: "nunito-sans";
    font-weight: 400;

    font-size: 14px;
    letter-spacing: 1.1px;
  }


  .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding-left: 30px;
    opacity: 0;

    @include breakpoint(large) {
      padding-left: 50px;
    }
  }

  .btn {
    transition: 300ms ease;
  }

  .mobile {
    @include breakpoint(mediumdown) {
      display: flex;
      padding-top: 20px;
      align-items: center;
      padding-right: 30px;
    }

    a {
      font-weight: 500;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        height: 40px;
        width: 1px;
        background: #fff;
        opacity: 0.2;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .hamburger {
      height: 18px;
      width: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 30px;
      cursor: pointer;

      span {
        height: 2px;
        width: 22px;
        background-color: #fff;

        &:nth-of-type(2) {
          width: 13px;
        }
      }
    }
  }

  .desktop {
    @include breakpoint(large) {
      display: flex;
    }

    .line {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        right: 12px;
        top: 0;
        height: 20px;
        width: 1px;
        background: rgba(#fff, 0.2);
      }
    }

    .info {
      padding: 0 25px 0 0;
    }

    .btn-menu {
      padding: 20px 55px;
    }

    .locales {
      padding-right: 12px;

      a {
        &.active {
          color: $color_aqua-light;
        }

        padding: 0 5px;
      }
    }
  }

  a.lunar-tablet {
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 24px;
    border-right: none;

    &::after {
      height: 20px;
      right: -12px;
    }

    display: none;

    @include breakpoint(medium) {
      display: unset;
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  .mobile-lunar {
    height: 38px;
    background-color: $color_purple;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    // font-family: "Gotham";

    font-family: "nunito-sans";
    font-weight: 400;

    @include breakpoint(medium) {
      display: none;
    }
  }

}