$go-stacked-breakpoint: 1200px;
$go-stacked-breakpoint-max: ($go-stacked-breakpoint - 1);

.section-plans {

    
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background: url(img_path('homes-bg.jpg')) no-repeat center center;
    background-size: cover;
    text-align: center;
      
        
      

    text-align: center;
      
    
    

    
    .text-show-360 {
        width: 320px;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 15px 0px;

        span {
            width: 100%;
            text-align: center;
            display: block;
            font-weight: bold;
        }

        span:nth-child(2) {
            padding: 0 10px;
            // font-size: 36px;
        }
    }

    // .legend {
    //     position: absolute;
    //     top: 50%;
    //     right: 40px;
    //     transform: translateY(-50%);

    //     span {
    //         position: relative;
    //         display: block;
    //         padding: 12px 0;
    //         font-size: 12px;
    //         text-transform: uppercase;

    //         &:first-child {
    //             color: rgba(255, 255, 255, 0.3);
    //             display: none;
    //         }

    //         &:after {
    //             content: "";
    //             width: 30px;
    //             height: 30px;
    //             position: absolute;
    //             top: 50%;
    //             border: 1px solid #fff;
    //             right: calc(100% + 20px);
    //             transform: translateY(-50%);
    //         }

    //         &:nth-child(2):after {
    //             background: rgba(0, 163, 216, 0.5);
    //         }

    //         &:nth-child(3):after {
    //             background: rgba(125, 164, 214, 0.5);
    //         }

    //         &:nth-child(4):after {
    //             background: rgba(42, 203, 212, 0.5);
    //         }

    //         &:nth-child(5):after {
    //             background: rgba(89, 86, 165, 0.5);
    //         }

    //         &:nth-child(6):after {
    //             background: rgba(167, 70, 232, 0.5);
    //         }

    //         &:nth-child(7):after {
    //             background: rgba(0, 97, 98, 0.5);
    //         }
    //     }
    // }

    .north-arrow {
        position: absolute;
        width: 22px;
        top: 32.5%;
        right: 27.5%;
    }

    .select-box {
        margin-top: 50px;
    }

    // .tabs {
    //     display: flex;
    //     justify-content: center;
    //     text-transform: uppercase;
    //     display: -webkit-flex;
    //     -webkit-justify-content: center;
    //     -webkit-text-transform: uppercase;
    //     list-style: none;
    //     margin: 25px 0 20px;
    //     padding: 100px 0 0;

    //     li {
    //         margin: 0 25px;
    //         padding: 20px 0 10px;
    //         display: inline-block;
    //         border-bottom: 2px solid transparent;
    //         font-weight: 600;
    //         letter-spacing: 1px;
    //         transition: border 0.5s;

    //         &.active {
    //             border-color: #00a3d8;
    //         }
    //     }
    // }

    .appartment-type{
        display: none;
        &.active{
            display: block;
        }        
    }

    .list-container {
        
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;        
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;
        margin: 0 auto;
        max-width: 1136px;
        padding: 0 15px;
        margin-top: 50px;

        @media (max-width: 480px) {
            justify-content: space-around;
            -webkit-justify-content: space-around;            
        }
    }

    .card {
        margin: 0 15px 30px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        text-align: left;
        color: #fff;
        padding: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:not(.sold){
            cursor: pointer;    
        }
        &.sold{
            position: relative;
            overflow: hidden;
            &::after{
                content: "SOLD";
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 2;
                left: 50%;
                top: 50%;
                width: 150%;
                height: 25px;
                transform: translate(-50%, -50%) rotate(-31deg);
                background-color: transparentize(#E61B1B, 0.4);
                color: #fff;
                font-size: 16px;
                font-weight: bold;
            }
        }
        
        animation: showCard 0.5s forwards;
        opacity: 0;

        h2 {
            font-size: 30px;
        }

        p {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 12.5px;
            /* to keep Int/Ext sq feet on one line */
            line-height: 1;
        }
    }
   

    @keyframes showCard {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

.section-plans, .penthouses-widget{

    .overlay {
        position: fixed;
        overflow: scroll;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1000;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
        text-align: left;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }

        .close {
            width: 58px;
            height: 58px;
            background: $color_aqua-light;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 10;

            &:before,
            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 60%;
                background: #fff;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        .content {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            //max-width: 1400px;
            position: relative;
            padding: 20px;

            display: flex;
            flex-direction: column;

            text-align: left;

            // @media (max-width: 768px) {
            //     height: 70%;
            // }

            // @media (max-width: 480px) {
            //     height: 100%;
            // }
        }

        

        .features {

            h2 {
                text-align: left;
                color: $color_aqua-light;
                border: 4px solid $color_aqua-medium;
                display: block;
                width: 128px;
                height: 128px;
                padding: 14px;
                margin-top: 0px;
                margin-bottom: 16px;
    
                @media (max-width: 480px) {
                    margin: 0;
                    width: 90px;
                    height: 90px;
                    font-size: 24px;
                    padding: 10px;
                }
                
            }

            margin-top: 40px;
            .info {
                color: $color_aqua-light;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 25px;
                display: inline-block;
                width: 100%;
            }

            .area {
                color: #a6a6a6;

                &>div {
                    margin-bottom: 30px;
                    padding: 5px 10px;
                    padding-left: 15px;
                    border-left: 1px dashed #a6a6a6;
                }

                h4 {
                    color: #a6a6a6;
                    margin: 0;
                    font-weight: normal;
                    font-weight: 500;
                    font-size: 12px;
                }

                p {
                    color: #a6a6a6;
                    margin: 0;
                    font-size: 24px;
                    // font-family: "BaileySansITC";                    
                    font-style: italic;

                    font-family: "circe";
                    font-weight: 800;

                }
            }

            @media (max-width: $go-stacked-breakpoint-max) {
                // position: absolute;
                //margin-top: 0px;
                // left: 144px;

                .info-wrapper{
                    margin-left: 10px;
                }

                display: flex;                
                align-items: flex-start;

                .info {
                    margin-bottom: 10px;
                }

                .area {
                    display: flex;

                    &>div {
                        padding-right: 20px;
                        margin-bottom: 10px;
                    }

                    @media (max-width: 767px) {
                        h4 {
                        
                            font-size: 10px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }

                    
                }
            }
        }

        .pdf-button {
            display: flex;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            appearance: none;
            border: solid 1px #00d0e6;
            width: 185px;
            height: 55px;
            text-transform: uppercase;
            // font-family: "BaileySansITC";

            font-family: "circe";            
        
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2px;
            color: #00d0e6;
            background: white;
            transition: all 0.4s ease;

            &:hover {
                border: solid 1px white;
                color: white;
                background-color: #00d0e6;
            }
        }

        .keyplates {
            width: 35%;
            height: auto;
            margin-top: 30px;

            @media (max-width: $go-stacked-breakpoint-max) {
                margin-top: 20px;
                width: 100%;
            }

            .kp-title{
                margin-top: 15px;
                margin-bottom: 15px;
                color: #a6a6a6;
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 1;
                .fa{
                    font-size: 30px;
                    color: #58585A;
                    margin-left: 10px;
                }
                display: flex;
                align-items: center;

            }

            .kp-items{
                display: flex;
                flex-wrap: wrap;
                img{
                    display: block;
                    width: (100%/4);
                } 
            }
        }

        .floorplan-img {

            width: 100%;            
            margin-top: 30px;
            margin-bottom: 30px;
    
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
    
            
    
            @media (max-width: $go-stacked-breakpoint-max) {
                &.vertical{
                    padding-bottom: 120%;
                }
    
                &.horizontal{
                    padding-bottom: 70%;
                }
            }
    
    
            @media (min-width: $go-stacked-breakpoint) {
                width: calc(65% - 30px);
                
                max-width: calc(100% - 235px);
                
                margin: 0 auto;
                position: absolute;
                top: 60px;
                right: 15px;
                bottom: 60px;
                //transform: translateY(-50%);
                padding-bottom: 0;
            }
            
        }

        
        @media (min-width: $go-stacked-breakpoint) {
            &[data-cnt="1"]{
                .keyplates {
                    width: 160px;                    
                    .kp-items{                     
                        img{                            
                            width: 100%;
                        } 
                    }
                }
                .floorplan-img {
                    width: calc(100% - 235px);
                }
            }
            &[data-cnt="2"], &[data-cnt="3"], &[data-cnt="4"]{
                .keyplates {
                    width: 17.5%;
                    min-width: 205px;
                    .kp-items{                     
                        img{                            
                            width: 50%;
                        } 
                    }
                }
                .floorplan-img {
                    width: calc(#{100% - 17.5%} - 30px);
                }
            }
            &[data-cnt="5"], &[data-cnt="6"], &[data-cnt="7"], &[data-cnt="8"]{
                .keyplates {
                    width: 26.5%;
                    min-width: 205px;
                    .kp-items{                     
                        img{                            
                            width: (100%/3);
                        } 
                    }
                }
                .floorplan-img {
                    width: calc(#{100% - 26.5%} - 30px);
                }
            }
            // &[data-cnt="7"], &[data-cnt="8"]{
            //     .keyplates {
            //         width: 35%;
            //         min-width: 205px;
            //         .kp-items{                     
            //             img{                            
            //                 width: 25%;
            //             } 
            //         }
            //     }
            //     .floorplan-img {
            //         width: calc(#{100% - 35%} - 30px);
            //     }
            // }
        }

    
        
        
    }

}