.modal:not(.modal-carousel){
	
	// @media (max-width: $grid-float-breakpoint-max){
	// 	&.vertical-centered{
	// 		&>div{			
	// 			display: inherit;
	// 		}
		
	// 		&:before{
	// 			content: none;
	// 		}			
		
		    
		
	// 	}
	// }

	.close{
		background-color: transparentize(#000000, 0);
		border: none;
		// box-shadow: none;
		box-shadow: -5px 4px 8px 0px rgba(34, 60, 80, 0.2);
		outline: none !important;
		&:focus{
			outline: none !important;
		}
		
		// @media (max-width: $grid-float-breakpoint-max){
		// 	top: 7px;
    	// 	right: 7px;	
		// }
		// @media (min-width: 769px){
		top: -13px;
		right: -13px;	
		// }		
		position: absolute;
		z-index: 10;	    
    	// color: #fff !important;
    	opacity: 0.6;   	

		&:hover, &:focus{
			opacity: 1;   	
		}

		@include transition;
    	

		display: block;
		width: 26px;
		height: 26px;
		border: 2px solid #fff;
		border-radius: 20px;		
		overflow: hidden;
		padding: 0;
		

		// span{
		// 	display: block;
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 50%;
		// 	transform: translate(-50%, -50%);
		// 	-webkit-transform: translate(-50%, -50%);
		// }
	}
    
 }