article.press-block {

    .page-header .title{
        color: $site-color-white;
        background-color: $brand-primary;
        padding: 60px 40px;
        border-radius: $border-radius;
        margin: 0;
    }

    .featured{
        margin-top: 30px;
        @media (min-width: 992px){
            display: flex;
            flex-wrap: wrap;            
            align-items: center;
            display: -webkit-flex;
            -webkit-flex-wrap: wrap;            
            -webkit-align-items: center;
            .right{
                width: calc(100% - 300px);
                text-align: left;
            }    
        }

        .right{            
            text-align: left;
            &>div{
                padding: 40px 100px;
                @media (max-width: 991px){
                    padding: 0px;
                    padding-top: 15px;
                }
            }
        }    

        .logo{            
            
            @media (min-width: 992px){
                width: 300px;
            }
        }
        
        
    }

    .divider{
        margin-top: 30px;            
        border-top: 6px solid $brand-primary;        
    }

    .press.row {
        margin-top: 15px;
        
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;

        margin-bottom: -15px;
    }

    .press-item {
        display: block;
        width: 300px;
        padding: 15px;
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: $grid-float-breakpoint-max) {
            width: 100%;
        }
    }

    .logo {
        padding: 40px;
        background-color: $site-color-white;
        border-radius: $border-radius;
        overflow: hidden;
        &>div{
            position: relative;

            &:after {
                content: " ";
                display: block;
                padding-top: 100%;
            }
    
            
            
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
    }
}