
article.team-thumbnails-block{		

	

	background-color: #0A4146;    

	&>.title{		
		@include octagon_after;    
	}

	.container{
		@media (min-width: $grid-float-breakpoint){
			padding-bottom: 6rem;
			padding-top: 6rem;
		}        
		
		@media (min-width: 1000px){
			padding-bottom: 10rem;
			padding-top: 10rem;
		}
	
		@media (min-width: 1200px){
			padding-bottom: 12rem;
			padding-top: 12rem;
		}    
	}

	
	
	

	.carousel.team-details{
		display: none;
	}

	.team-thumbnails{

		
		//padding-bottom: 6rem;
		padding-top: 6rem;
		
		
		
			

		button.list-item{

			border: none;
			background-color: transparent;

		
			@include transition;
		
			color: $site-color-dark;
			text-decoration: none;
			margin: 40px;
			display: block;
			img{
				display: block;
				width: 100%;																				
			}
			&:hover, &:focus{					
				opacity: 0.6;
				
			}
		}
		//@media (min-width: $grid-float-breakpoint){
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			display: -webkit-flex;
			-webkit-justify-content: center;
			-webkit-flex-wrap: wrap;
			.list-item{
				width: (100%/3);
				@media (max-width: 991px){
					width: (50%);
				}
			}	
		//}
		.list-item>div{		

				margin: 20px;
			
				.photo{
					position: relative;					
					&:after{
						content: " ";
						display: block;
						padding-top: 100%;						
					}
					border: 2px solid $site-color-gold;
					img{
						display: block;
						position: absolute;
						top: 8px;
						left: 8px;
						width: calc(100% - 16px);
					}
				}
				.name{												
					font-weight: 900;
					margin-top: 10px;
				} 
				

				.name, .position{
									
					
					
				}
				.position{					
					font-size: 90%;
					padding-top: 0px;
				}
		}
	}



	.team-details{
		display: none;
		
		
		
		.photo{
			background-size: cover;
		}
		.title-wrapper{
			//border-bottom: 1px solid $site-color-gold;
			padding-top: 10px;
			padding-bottom: 10px;
			//margin-bottom: 10px;
			//font-size: 24px;			
			text-transform: uppercase;
			.position{
				//font-style: italic;
				font-size: 90%;
			}
		}
		
		.item{


			.name{
				margin-bottom: 0;
				text-transform: uppercase;
			}
			.rich-text{
				margin-top: 10px;
			}
						
				//@media (min-width: 992px){
					
					
					.txt, .img{		    			
		    			&:after{
		    				content: none;
		    			}
					}			
					.txt{					
						@media (min-width: 992px){
							padding-left: 40px;
							padding-top: 40px;
						}
					}		
					
					.img{
						padding: 0px;						
						.photo{
							position: relative;												
							left: 0px;
							right: 0px;
							&:after{
								content: " ";
								display: block;
								padding-top: 100%;
							}
						}	
					}	
					
					
				//}
			
		
		}
		
		
		
	}
}

article.team-regular-block{		
	.team-item{
		position: relative;
		& + .team-item{
			margin-top: 60px;
		}
		&:before{
			content: " ";
			display: block;
			position: absolute; 
			z-index: -1;					
			top: 40px;
			left: 0; 
			right: 0;
			height: 200px;
			background-color: $site-color-silver;
		}

		&>.container{		
			position: relative;				
			.photo{
				@media (max-width: 991px){
					position: relative;
					overflow: hidden;
					&:after{
						content: " ";
						display: block;
						padding-top: 100%;
					}
					
					img{
						display: block;
						position: absolute;				
						top: 0px;					
						width: 100%;
					}
				}
				@media (min-width: 992px){
					position: absolute;				
					top: 0px;
					bottom: 0px;				
					width: 40%;
					overflow: hidden;					
				}

				img{
					width: 100%;
				}

					
				
			}
			.bio{	
				padding-left: 15px;
				padding-right: 15px;		
				@media (min-width: 992px){
					width: 60%;
					padding-left: 30px;
					padding-right: 30px;
				}					
				
				padding-top: 40px;
				.name{
					margin-bottom: 0;
					text-transform: uppercase;
				}
				&>.rich-text{
					margin-top: 10px;
				}
				@media (min-width: 992px){
					min-height: 400px;
				}
			}
		}

		@media (min-width: 992px){			
		
			&.page-layout-left>.container{			
				.photo{
					left: 0px;
				}
				.bio{
					float: right;
					padding-left: 40px;
				}
			}

			&.page-layout-right>.container{			
				.photo{
					right: 0px;
				}
				.bio{
					float: left;
					padding-right: 40px;
				}
			}
		}
	}
}