.img-top-collage{
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	.chunk{
		a{
			display: block;
			position: relative;
			z-index: 3;		
			width: 40%;
			float: left;
			
			&:nth-of-type(2){
				z-index: 2;
    			margin-left: -11%;
    			margin-top: 4%;
			}
			&:nth-of-type(3){
				margin-top: -23%;
    			float: right;
			}
			&:nth-of-type(4){
				margin-left: 4%;
    			margin-top: -6%;
    			z-index: 1;
			}
			&:nth-of-type(5){
				margin-top: -5%;
			}
			
			&:after{
				content: " ";
				display: block;
				padding-top: 50%;
			}
			img{
				display: block;
				position: absolute;
				width: 100%;
				top: 0px;
				left: 0px;
			}
		}
	}	
}