article.video-block{

	&.video-size-fullscreen{
		.video{
			position: relative;
			height: 100vh;
		}
	}
	

	.sound-switch{
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		position: absolute;
		z-index: 3;
		right: 20px;
		bottom: 20px;
		left: auto;
		top: auto;
		cursor: pointer;
		color: $site-color-white;
	
		.fa-circle{
			color: transparentize($site-color-dark, 0.68);
		}
		.fa-volume-up{
			display: none;
		}
		&.on{
			.fa-volume-up{
				display: inline-block;
			}
			.fa-volume-off{
				display: none;
			}
		}		
	}
}


