.sound-switch{
	display: block;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 3;
	right: 20px;
	bottom: 20px;
	left: auto;
	top: auto;
	cursor: pointer;
	color: $site-color-white;

	.fa-circle{
		color: transparentize($site-color-dark, 0.68);
	}
	.fa-volume-up{
		display: none;
	}
	&.on{
		.fa-volume-up{
			display: inline-block;
		}
		.fa-volume-off{
			display: none;
		}
	}
	
}


body.has-video{
	@media (min-width: $grid-float-breakpoint){
		padding-top: 0px !important;
	}
}

.slide-big.direct-video{
	
	// @media (max-width: $grid-float-breakpoint-max){
	// 	height: auto;		
	// 	//height: calc(100% - 60px);
	// }
	// @media (min-width: $grid-float-breakpoint){
		height: 100vh;
		// body.has-top-promo-line-1 &{
		// 	height: calc(100vh - 182px);
		// }
	// }
	@media (max-width: $grid-float-breakpoint-max){
		height: 100vh;
	}
	&:after{
		content: none;
	}
	overflow: hidden !important;
		
			
}
.slide-big.direct-video>.video-inner{
	position: relative;
	display: none;
	&:after{
		content: " ";
		display: block;
		padding-top: (9/16*100%);
	}
	
	&>div{	
		position: absolute;
		top: 0%;
		left: 0%;		
		width: 100%;
		height: 100%;
	}
}

// .video-overlay{
//     width: 100%;
//     position: absolute;
//     height: 100%;
//     top:0;
//     left:0;
//     z-index:1000;
// }

// .vjs-default-skin .vjs-big-play-button {
// 	display: none !important;
// 	left: 50%;
// 	top: 50%;
// 	margin-left: -2em;
// 	margin-top: -1.3em;
// }

// .vjs-default-skin .vjs-big-play-button:before{
// 	 top: 0px !important;	 
// }

// .vjs-control-bar{
// 	display: none !important;
// }