@import "css/config";

$wt-form-width: 400px !default;
$wt-form-label-align: left !default;
$wt-form-group-label-align: left !default;
$wt-form-control-color: #555 !default;
$wt-form-control-background-color: #fff !default;
$wt-form-control-border: 1px solid #ccc !default;
$wt-form-control-border-radius: 4px !default;
	
@mixin box-shadow($s) {
	-webkit-box-shadow: $s;
	box-shadow: $s;
}

.form-links{
	margin-bottom: 20px;
}

.body-text .body-text{
	padding: 0;
}

.wt-form-control{
	display: block;	
	appearance: none;
	
	// font-family: "BaileySansITC";
	// font-weight: 300px;

	font-family: "circe";
	font-weight: normal;


	font-size: 14px;
	color: #fff;
	letter-spacing: 0;
	line-height: 26px;
	width: 100%;
	border: none;
	border-radius: 0;
	background-color: transparent;
	// margin: 20px 0 10px;
	text-transform: uppercase;
	@include breakpoint(mediumdown) {
		// margin: 10px 0 10px 0;
  	}

	padding: 10px;
	border: 1px solid #fff;
	display: inline-block;
	option {
		color: #212f3d;
	}

	@include placeholder($color: #fff);

	
	// height: 34px;
	// padding: 6px 12px;
	// font-size: 16px;
	// line-height: 1.42857143;
	// color: $wt-form-control-color;
	// background-color: $wt-form-control-background-color;
	// background-image: none;
	// border: $wt-form-control-border;
	// border-radius: $wt-form-control-border-radius;
	// @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));	
	// -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	// -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	// transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
}

.form-links{
	.wtform{
		width: $wt-form-width;
		max-width: 100%;
		margin: 0 auto;	
		margin-bottom: 40px;
	}
}

.wtform{	
	
	margin-bottom: 30px;
	margin-top: 20px;

	.submit-wrapper{
		margin-top: 30px;
	}
	
	.form-group.checkbox{
		margin-bottom: 20px;
	}
	
	label{		
		display: block;
		font-size: 16px;
		color: $wt-form-label-color;
		text-align: $wt-form-label-align;
		text-transform: $wt-form-label-text-transform;
		&.form-group-set-label{
			text-align: $wt-form-group-label-align; 
			display: block;
    		padding: 10px 10px 5px 15px;
    		font-size: 120%;
		}
	}

	.widget-checkboxinput{
		
		
		
		label{
			//padding-left: 55px;
			text-transform: none;
			font-size: 12px;

			display: flex;
			padding-left: 0;
			
			position: relative;

			input[type="checkbox"]{
				position: absolute;
				top: 10px;
				left: 35px;		
				opacity: 0;		
				&:checked + span::after{
					width: 50%;
					height: 50%;
				}
			}

			div{
				width: calc(100% - 60px);
				margin-left: 20px;
				font-size: 14px;
				// font-family: "BaileySansITC";

				font-family: "circe";
        		font-weight: normal;

			}

			span{
				display: block;
				width: 40px;
				height: 40px;								
				cursor: pointer;
				border-radius: 2px;
				background-color: transparent;
				border: 1px solid #fff;
				position: relative;

				transition: .3s ease;
				transition-property: all;				

				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					height: 0;
					width: 0;
					background-color: #fff;
					-webkit-transition: .3s ease;
					transition: .3s ease;
					border-radius: 0;
				}
					
				
			}

		}
		
	}

	.required{
		&>div>label:after{
			content: ' *';
			color: $site-color-required;
			font-weight: bold;			 			
		}
		&.widget-checkboxinput label span:after{
			// content: ' *';
			// color: $site-color-required;
			// font-weight: bold;
		}
	}
	.help-block.required{
		&:after{
			content: ' *';
			color: $site-color-required;
			font-weight: bold;			 			
		}
	}
	.widget-textinput, .widget-timeinput, .widget-datetimeinput, .widget-numberinput, .widget-emailinput, .widget-dateinput, .widget-ebfileinput, .widget-wtfileinput {
		input{
			@extend .wt-form-control;
			width: 100%;	
		}		 
	}
	.widget-captchatextinput input[type=text]{
		@extend .wt-form-control;
	} 
	select, textarea{
		 @extend .wt-form-control;
		 width: 100%;	
	} 
	.widget-textarea{
		textarea{
			height: 80px;
		}
	}

	.widget-checkboxselectmultiple{
		ul{
			padding-left: 0px;
			li{
				display: block;			
			}
		}
	}

// 	.btn-send{
// 		color: $wt-form-label-color; 
// 	} 		 
}


.modal .wtform{
	width: inherit;
}

.btn-form-collapse{
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	display: inline-block;
	
	span{
		display: block;		
		position: absolute;
		top: 50%;
		right: 0px;
		width: 30px;
		height: 30px;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		
	}

	
	span{			
		&:after, &:before{
			-webkit-transition: color .3s ease-in-out;    
    		transition: color .3s ease-in-out;
		}			
	}		

	&[aria-expanded="false"] span{
		&:after{
			
			content: " ";
			display: inline-block;
			width: 20px;
			height: 20px;
			
			border-right: 1px solid $site-color-dark;
			border-bottom: 1px solid $site-color-dark;
			transform: rotate(45deg) translateX(-2px) translateY(-2px);
			-webkit-transform: rotate(45deg) translateX(-2px) translateY(-2px);			
		}
	}

	&[aria-expanded="true"] span{
		//background-color: #ccc;
		&:after{
			
			content: " ";
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;			
			
			border-bottom: 1px solid $site-color-dark;
			transform: rotate(45deg) translateX(6px) translateY(-10px);
			-webkit-transform: rotate(45deg) translateX(6px) translateY(-10px);			
		}
		&:before{
			
			content: " ";
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;			
			
			border-right: 1px solid $site-color-dark;
			transform: rotate(45deg) translateX(-3px) translateY(-1px);
			-webkit-transform: rotate(45deg) translateX(-3px) translateY(-1px);			
		}
	}

	&:hover, &:focus{
		color: $site-color-hover !important;
		span{			
			&:after, &:before{
				border-color: $site-color-hover !important;
			}			
		}		
	}
	
} 