{% load wagtailcore_tags wagtailimages_tags %}

<article class="container about-onni-block">
    <div class="image-blocks">
        {% for group in self.image_groups %}
            {% cycle 'odd' 'even' as odd_even silent %}
            <div class="image-group">                                
                {% for item in group.images %}
                    {% if odd_even == 'odd' %}
                        {% cycle 'tall' 'short' as imgtype silent %}
                    {% else %}
                        {% cycle 'short' 'tall' as imgtype silent %}
                    {% endif %}                    
                    
                    {% image item.image max-640x640 as img %}
                    <div  class="image {{imgtype}}" style="background-image: url({{img.url}});">
                        <p class="img-desc">{{item.title}}</p>
                    </div>                        
                {% endfor %}    
            </div>
        {% endfor %}    
    </div>    
    <div class="site-link">
        <h3 class="subhead">{{self.title}}</h3>
        <a href="https://www.onni.com/" target="_blank" class="btn reverse">Onni.com</a>
    </div>
</article>
