{% load wagtailcore_tags wagtailimages_tags events_tags %}
<article class="text-block event-thumbnails-block page-layout-whole themed-{{self.theme.id}} {{self.theme.css_class}}">
    <div class="container page-text-wrapper">
        <div class="row">
            <div class="txt col-xs-12 text-center">
                <div>                    
                    {% if self.title %}
                    <div class="page-header inside text-center">
                        <div class="title-wrapper">
                            <h2 class="h2 title">{{ self.title }}</h2>                        
                        </div>
                    </div>             
                    {% endif %}                                                            
                </div>	        
            </div>
        </div>
        <div class="body-text">
            {% event_thumbnails parent=self.parent_page preview_mode=self.preview_mode %}
        </div>
    </div>    
</article>