{% load i18n wtpages_tags static wagtailcore_tags wagtailimages_tags %}
<div class="accordion">
    <div class="header" role="tab" data-toggle="collapse" aria-expanded="false" aria-controls="{{uid}}" data-target="#{{uid}}">
        
        <h2 class="subhead white underline">{{self.title}}</h2>

        <button class="btn-plus">
            <svg id="plus" width="16px" height="16px"
                viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    transform="translate(-1228.000000, -1891.000000)">
                    <g id="Group-2" transform="translate(1215.000000, 1878.000000)"
                        stroke="#FFFFFF" stroke-width="2">
                        <g id="Group-9" transform="translate(13.000000, 13.000000)">
                            <path d="M8,0 L8,16" id="Path-9"></path>
                            <path d="M16,8 L0,8" id="Path-9"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </button>

    </div>
    <div id="{{uid}}" class="collapse" role="tabpanel">        
        <div class="columns">
            {% for item in self.items %}
                <div class="col rich-text">
                    {{item.text|richtext}}                    
                </div>
            {% endfor %}
        </div>        
    </div>
</div>