{% load static wagtailcore_tags %}
<article class="info-blocks">
    <img src="{% static 'images/svgs/info-block-pattern.svg' %}" alt="" class="pattern" aria-hidden="true">
    <div class="blocks container">
        {% if self.title or self.title_2 %}
        <div class="block stat">
            <h1>{{self.title}}</h1>
            <h3 class="subhead">{{self.title_2|linebreaksbr}}</h3>
        </div>
        {% endif %}
        {% for block in self.items %}
            {% include_block block %}
        {% endfor %}            
    </div>
</article>