{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

<div class="pdf-menus-widget">
    <div>
        {% for item in self.pdf_menus.menus.all %}
        <a target="_blank" href="{{item.document.url}}" class="item">
            <span>
                {% image item.theme.background_image fill-200x200-c100 as image %}        
                <span style="background-image: url({{image.url}})" class="title">{{item.title}}</span>        
                <span class="anim">
                    {{item.theme.svg_animation|safe}}
                </span>
            </span>
        </a>
        {% endfor %}
    </div>
</div>
