{% load wagtailcore_tags wagtailimages_tags portfolio_tags %}
<article class="text-block portfolio-thumbnails-block page-layout-whole themed-{{self.theme.id}} {{self.theme.css_class}}">
    <div class="container page-text-wrapper">
        <div class="row">
            <div class="txt col-xs-12 text-center">
                <div>                    
                    {% comment %}
                    {% if self.title %}
                    <div class="page-header inside text-center">
                        <div class="title-wrapper">
                            <h2 class="h2 title">{{ self.title }}</h2>                        
                        </div>
                    </div>             
                    {% endif %}  
                    {% endcomment %}                                      
                    <div class="body-text text-center">
                        {% portfolio_thumbnails parent=self.parent_page boxes_per_row=self.boxes_per_row title=self.title %}
                    </div>
                </div>	        
            </div>
        </div>
    </div>    
</article>