{% load wagtailcore_tags wagtailimages_tags %}

<article class="press-block text-block text-center themed-{{self.theme.id}} {{self.theme.css_class}} page-layout-whole">    
    <div class="container page-text-wrapper">

        <div class="row">
    
            <div class="txt col-xs-12">
                <div>
                    
                    {% if self.title %}
                    <div class="page-header insidetext text-center">
                        <div class="title-wrapper">
                            <h2 class="title">{{ self.title }}</h2>                        
                        </div>
                    </div>             
                    {% endif %}

                    <div class="featured">                                                
                        
                        
                        {% include 'wtpages/blocks/include/press_logo.html' with logo=self.items.0.logo request=request only %}                            
                        
                    
                        <div class="right">
                            <div>
                                <div class="title h3 text-uppercase">
                                    {{self.items.0.title}}
                                </div>
                                <div class="dsc">
                                    {{self.items.0.description}}
                                </div>
                                {% if self.items.0.website %}
                                <div class="related-links">
                                    <a class="btn btn-primary btn-lg" href="{{self.items.0.website}}" target="_blank">View Article</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>                                
                        
                    </div>
                    
                    <div class="divider"></div>

                    <div class="press row">                            
                        {% for item in self.items|slice:"1:" %}    
                            <{% if item.website %}a href="{{item.website}}" target="_blank"{% else %}div{% endif %} class="press-item col-md-4 col-sm-6 {% if forloop.counter0 > 10 %} hidden{% endif %}" title="{{item.title}}">
                                {% include 'wtpages/blocks/include/press_logo.html' with logo=item.logo request=request only %}                            
                            </{% if item.website %}a{% else %}div{% endif %}>                                                    
                        {% endfor %}                                
                        {% if self.items|length > 11 %}
                            <div class="text-center view-all-wrapper"><button class="btn btn-primary btn-lg btn-view-more">View Archive</button></div>
                        {% endif %}
                    </div>                        
    
                </div>	        
            </div>
        </div>

    </div>        
        
    
</article>

