{% load wagtailcore_tags  %}
{% if calling_page.related_links.all %}
<article class="text-block related-links-placeholder page-layout-whole">
    <div class="container page-text-wrapper">
        <div class="row">

            <div class="txt col-xs-12 text-center">
                <div>
                    
                    <div class="related-links text-{{calling_page.align_related_links|default:'left'}}">
                        {% for related_link in calling_page.related_links.all %}
                            <a class="btn btn-primary text-uppercase" 
                                {{related_link.html_element_extra|safe}} 
                                href="{{ related_link.link }}">{{ related_link.title }}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
</article>
{% endif %}