{% load wagtailcore_tags wagtailimages_tags %}

<article class="text-block container layout-{{self.layout}} themed-{{self.theme.id}} {{self.theme.css_class}} {% if self.full_width %} full-width{% endif %}">   
    <div class="content{% if self.bottom %} bottom{% endif %}">
        {% if self.layout != 'whole' %}        
        <div class="flexbox{% if self.layout == 'left' %} orderChanged{% endif %}">
            <div class="flex-item image">

                {% if self.image and self.night_time_image %}
                    <div class="day-night-time-slider">
                        <div class="slide">
                            <div class="slide-image">
                                {% image self.image fill-747x420-c100 as image %}
                                <img src="{{ image.url }}" alt="{{ image.alt }}">                                                   
                            </div>
                            <div class="slide-button">
                                <div>
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                            
                        {% image self.night_time_image fill-747x420-c100 as image %}
                        <img src="{{ image.url }}" alt="{{ image.alt }}">                            
                        
                    </div>
                {% else %}
                    {% image self.image max-1024x1024 as image %}                                
                    <img src="{{ image.url }}" alt="{{ image.alt }}">                
                {% endif %}


                
                
            </div>
            <div class="flex-item">
                {% include 'wtpages/blocks/include/text_block_content.html' with self=self request=request only %}
            </div>
        </div>
        {% else %}
            {% include 'wtpages/blocks/include/text_block_content.html' with self=self request=request only %}
        {% endif %}
    </div>
</article>