<ul class="sitemap">
{% for page in sitemap %}
	<li>
		<a
			{% if page.cls %}class="{{page.cls}}"{% endif %}
			{% if page.wtform_id %}data-wtform="{{page.wtform_id}}"{% endif %}
			{% if page.target %}target="{{page.target}}"{% endif %}
			href="{{page.url}}">{{page.title}}</a>
		{% if page.subpages %}
			<ul>
				{% for subpage in page.subpages %}
				<li>
					<a {% if subpage.cls %}class="{{subpage.cls}}"{% endif %}
						{% if subpage.wtform_id %}data-wtform="{{subpage.wtform_id}}"{% endif %}
						{% if subpage.target %}target="{{subpage.target}}"{% endif %}
						href="{{subpage.url}}">{{subpage.title}}</a>
						{% if subpage.subpages %}
							<ul>
								{% for subpage1 in subpage.subpages %}
								<li>
									<a {% if subpage1.cls %}class="{{subpage1.cls}}"{% endif %}
										{% if subpage1.wtform_id %}data-wtform="{{subpage1.wtform_id}}"{% endif %}
										{% if subpage1.target %}target="{{subpage1.target}}"{% endif %}
										href="{{subpage1.url}}">{{subpage1.title}}</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
				</li>
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
