{% load static i18n wagtailcore_tags wtpages_tags %}
<ul class="routes">
	{% for item in items %}
	<li>
		<a 
			{% if item.link %}
				{% if item.external %}target="_blank"{% endif %} href="{{ item.link }}"
				class="route"
			{% elif item.form.pk %}	
				data-wtform="{{ item.form.pk }}" href="#"
				class="route wtform-modal-link"
			{% else %}
				href="{% pageurl item %}"
				class="route {% if item.active %}router-link-exact-active router-link-active{% endif %}"
			{% endif %}						
		>
			<span>{{ forloop.counter|stringformat:"02d" }}</span>
			{{item.title}}
		</a>
	</li>	
	{% endfor %}
	<li>
	{% if active_page and active_page.show_navbar %}
		{% top_menu_children parent=active_page calling_page=calling_page %}	
	{% endif %}
	</li>
</ul>

