{% load wagtailcore_tags wagtailimages_tags %}

<div class="container property-contacts-widget">	    
    <div>
        
            
            {% for prop in items %}
                {% if not forloop.first %}
                <div></div>
                {% endif %}
                <div class="property">
                    <div>
                        <h2 class="h2 title">{{prop.title}}</h2>
                        <div class="address">
                            {{prop.contact_us_address|linebreaks}}
                        </div>
                        {% if prop.phone %}
                            <div class="phone">Phone Number: <a href="tel:{{prop.phone}}">{{prop.phone}}</a></div>
                        {% endif %}

                        {% if prop.reservations_phone %}
                            <div class="phone">Reservations: <a href="tel:{{prop.reservations_phone}}">{{prop.reservations_phone}}</a></div>
                        {% endif %}
                        
                        {% if prop.email %}
                            <div class="email"><a href="mailto:{{prop.email}}">{{prop.email}}</a></div>
                        {% endif %}
                    </div>
                </div>
                
                
            {% endfor %}   
                        

    </div>
</div>	

