{% extends "base.html" %}
{% load wagtailcore_tags wtpages_tags %}

{% block body_class_type %}page-404{% endblock %}

{% block hero_images %}	
	<div class="banner-bg active">                            
		{% carousel show_controls=False carousel_items=request.root_page.page_404_images imagesize='full' %}
	</div>	
{% endblock %}

{% block hero_banner_content %}
	<h1>{{request.root_page.page_404_title}}</h1>
	<div class="h3 subhead white">{{request.root_page.page_404_text|richtext}}</div>
{% endblock %}
