{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags static %}
{% load i18n %}
{% load l10n %}

{% block titletag %}{% trans "Images" %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script>
        $(function() {
            $('#tag_id').change(function() {
                this.form.submit();
            })
        });
    </script>
    
    <script src="{% static 'wagtailadmin/js/modal-workflow.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/privacy-switch.js' %}"></script>
    <script src="{% static 'wtadmin/js/Sortable.min.js' %}"></script>
    

{% if current_tag %}    
<script type="text/javascript">
        
$(function() {
    var reorderCount = 0;
    var orderform = $('#image-reorder-form');
    
    var imagesSorting = document.getElementById("images-sorting");
    var sortable = Sortable.create(imagesSorting, {
      animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
      handle: "a", // Restricts sort start click/touch to the specified element
      draggable: "li", // Specifies which items inside the element should be sortable
      ghostClass: "ghost",
      onUpdate: function (evt/**Event*/){
    	  //console.log(sortable.toArray());
    	  
    	  // Get CSRF token
          var CSRFToken = $('input[name="csrfmiddlewaretoken"]', orderform).val();                	  
          var url = "{% url 'wtadmin_images_sort_by_tag' current_tag.id %}";

          // Post
          $.post(url, {csrfmiddlewaretoken: CSRFToken, images: sortable.toArray()}, function(){
             addMessage('success', '"' + $(evt.item).data('title') + '" has been moved successfully.')
          });
      }
    });
});        
</script>
{% endif %}
    
    
{% endblock %}

{% block content %}
    {% trans "Images - Order By Tag Mode" as im_str %}
    
    {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" %}
    

    <div class="nice-padding">
        {% if tags %}
            <form class="image-search search-bar" action="{% url 'wtadmin_images_sort_by_tag_index' %}" method="GET" novalidate>
                <ul class="fields">
                    

                    <li>
                        <div class="field choice_field select">
                            <label for="collection_chooser_collection_id">Tag:</label>
                            <div class="field-content">
                                <div class="input">
                                    <select id="tag_id" name="tag_id">
                                        <option value="">{% trans "All Tags" %}</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id|unlocalize }}" {% if tag == current_tag %}selected="selected"{% endif %}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        {% endif %}

        <div id="image-results">
        <form id="image-reorder-form">
        {% csrf_token %}
        </form>
        
            {% include "wagtailimages/images/ordering_results.html" with sort_type='Tag' %}
        </div>
    </div>
    
{% endblock %}
