{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">
<link rel="canonical" href="{{ url }}"/>
<meta itemprop="name" content="{{ title }}"/>
<meta itemprop="url" content="{{ url }}"/>
{% if image %}
	{% image image max-150x150 as thumbnailImage %}	
	{% image image max-1900x1900 as bigImage %}
	<meta itemprop="thumbnailUrl" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ thumbnailImage.url }}"/>
	<link rel="image_src" href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ bigImage.url }}" />
	<meta itemprop="image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ bigImage.url }}"/>	
{% endif %}
{% if fb_app_id %}
<meta property="fb:app_id" content="{{ fb_app_id }}"/>
{% endif %}
<meta property="og:site_name" content="{{ site_name }}"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:url" content="{{ url }}"/>
<meta property="og:type" content="website"/>
{% if image %}
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ bigImage.url }}"/>
{% endif %}
<meta name="twitter:title" content="{{ title }}"/>
{% if image %}
<meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ bigImage.url }}"/>
{% endif %}
<meta name="twitter:url" content="{{ url }}"/>
<meta name="twitter:card" content="summary"/>
