{% load i18n wagtailcore_tags wagtailimages_tags wtpages_tags %}  

<div class="penthouses-widget">
    
    <div class="plans">
        <section>

            {% if title %}                    
                <h2 class="title h1 text-center">
                    {{ title }}
                    {% if title_2 %}
                    <br/>
                    <span>
                        {{ title_2|linebreaksbr }}
                    </span>
                    {% endif %}
                </h2>                    
            {% endif %}        
            {% if text %}      
                <div class="text-center">
                    {{text|richtext}}
                </div>
            {% endif %}                      
            
            
            <div class="text-center penthouse-type-filter">
                
                <div class="btn-group" data-toggle="buttons">
                    {% for tower in towers %}                    
                        <label class="btn gold active">
                            <input data-tower-id="{{tower.id}}" type="checkbox" checked>{% trans 'Tower' %} {{tower.title}}
                        </label>
                    {% endfor %}
                </div>

                <div>
                    <label class="subhead white">{% trans 'Filter' %}: &nbsp;</label>                
                    <span class="select-container select-box">                
                        <select required="required" class="light">
                            <option value="cat-all">{% trans 'All' %}</option>
                            {% for id, item in penthouse_types.items %}
                            <option value="cat-{{id}}">
                                {% if request.LANGUAGE_CODE == 'zh-hans' %}
                                    {{item.title_zh_hans}}
                                {% elif request.LANGUAGE_CODE == 'zh-hant' %}
                                    {{item.title_zh_hant}}
                                {% else %}
                                    {{item.title}}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>


            {% for tower in towers %}
                <div data-tower-id="{{tower.id}}" class="tower-item active in cat-all{% for item in tower.plans %} cat-{{item.penthouse_type.id}}{% endfor %} boxes-per-row-{{boxes_per_row}}">
                    <h3 class="title text-center">{% trans 'Tower' %} {{tower.title}}</h3>
                    <div class="penthouses-list">
                        {% for item in tower.plans %}                            
                            {% image item.floorplates_image max-640x640 as floorplates_image %}
                            {% image item.floorplan_image crop_to_content max-1600x1600 as floorplan_image %}
                            <div class="penthouse{% if item.sold %} sold{% endif %} active cat-all cat-{{item.penthouse_type.id}}"
                                data-title="{{item.title}}"
                                data-apartment-type="{{item.penthouse_type.title}}"
                                data-interiors="{{item.interiors}}"
                                data-exteriors="{{item.exteriors}}"
                                data-total="{{item.total_sqft}}"
                                data-pdf="{{item.pdf.url}}"
                                data-floorplates-image="{{floorplates_image.url}}"
                                data-floorplates-images='[{% for img in item.floorplates_image_renditions %}{% if not forloop.first %}, {% endif %}"{{img.image.url}}"{% endfor %}]'
                                data-floorplan-image="{{floorplan_image.url}}"
                                data-preload-image="{{floorplan_image.url}}{% for img in item.floorplates_image_renditions %} {{img.image.url}}{% endfor %}"
                                data-layout="{% if floorplan_image.width > floorplan_image.height %}horizontal{% else %}vertical{% endif %}"
                            >
                                <div>
                                
                                    <div class="title-wrapper">
                                        <h4>
                                        <small>plan</small> {{item.title}}
                                        </h4>
                                        <p>{{item.penthouse_type.title}}</p>
                                    </div>

                                    <div class="image">
                                        <div style="background-image: url({{floorplan_image.url}})">
                                            <img class="sr-only" src="{{floorplan_image.url}}" alt="{{floorplan_image.alt}}">
                                        </div>                                    
                                    </div>

                                    <div class="sqft-total">
                                        <div>{% trans 'TOTAL' %} {{item.total_sqft}} {% trans 'sqft' %}</div>                                        
                                    </div>

                                    <div class="sqft cols">                                        
                                        <div>{% trans 'Indoor' %} {{item.interiors}} {% trans 'sqft' %}</div>
                                        <div>{% trans 'Outdoor' %} {{item.exteriors}} {% trans 'sqft' %}</div>
                                    </div>
                                    <div class="buttons cols">
                                        <div>
                                            <button class="btn gold view-floor-plan">{% trans 'Floor Plan' %}</button>
                                        </div>
                                        <div>
                                        {% if request.root_page.contact_page_link %}
                                            <a class="btn" href="{% pageurl request.root_page.contact_page_link %}#form">{% trans 'Contact Us' %}</a>
                                        {% endif %}                                  
                                        </div>
                                    </div>
                                </div>
                                
                            </div>                            
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            
        </section>

        {% include 'towers/tags/include/modal.html' with mode='penthouses' %}

    </div>
</div>