{% load static i18n wagtailcore_tags wagtailimages_tags wtpages_tags %}

<div class="tower-views-widget">
    <div class="content">
        
        {% if title %}                    
            <h2 class="title h1">
                {{ title }}
                {% if title_2 %}
                <br/>
                <span>
                    {{ title_2|linebreaksbr }}
                </span>
                {% endif %}
            </h2>                    
        {% endif %}        
        {% if text %}      
            <div class="text-center">
                {{text|richtext}}
            </div>
        {% endif %}                      

        <div class="level-select">
            <label class="subhead white mobile">{% trans 'See the view from' %}</label>                
            <div class="select-container medium">                
                <label class="subhead white desktop">{% trans 'See the view from' %}</label>                
                <select name="select-dropdown">
                    {% if towers %}
                        {% for tower in towers %}
                        <optgroup label="{% trans 'Tower' %} {{tower.title}}">
                            {% for item in tower.items %}
                                {% image item.image max-20000x680 as image %}
                                <option data-image="{{image.url}}" data-image-width="{{image.width}}" data-image-height="{{image.height}}">                        
                                    {% trans 'LEVEL' %} {{item.title}}                        
                                </option>
                            {% endfor %}                    
                        </optgroup>
                        {% endfor %}                    
                    {% else %}
                        {% for item in items %}
                            {% image item.image max-20000x680 as image %}
                            <option data-image="{{image.url}}" data-image-width="{{image.width}}" data-image-height="{{image.height}}">                        
                                {% trans 'LEVEL' %} {{item.title}}                        
                            </option>
                        {% endfor %}                    
                    {% endif %}
                </select>
            </div>
        </div>

    </div>

    <div class="pano-block">
        
        <div class="view"></div>
            
        
        <button class="arrow right"><img src="{% static 'images/svgs/arrow-right-simple.svg' %}" alt="right arrow"></button>
        <button class="arrow left"><img src="{% static 'images/svgs/arrow-left-simple.svg' %}" alt="left arrow"></button>
    </div>

</div>



