{% load wagtailcore_tags i18n wagtailimages_tags wagtailembeds_tags wtpages_tags %}

{% if carousel_items %}
    {% include 'wtpages/includes/carousel_item.html' with carousel_items=carousel_items id=id_desktop imagesize=imagesize carousel_class=carousel_class interval=interval show_controls=show_controls ignore_visible=ignore_visible gallery_mode=gallery_mode lazy_load=lazy_load request=request carousel_responsive_class=carousel_responsive_class_desktop only %}

    {% if carousel_items_mobile %}
        {% include 'wtpages/includes/carousel_item.html' with carousel_items=carousel_items_mobile id=id_mobile imagesize=imagesize_mobile carousel_class=carousel_class interval=interval show_controls=show_controls ignore_visible=ignore_visible gallery_mode=gallery_mode lazy_load=lazy_load request=request carousel_responsive_class=carousel_responsive_class_mobile only %}
    {% endif %}
    
{% endif %}
