{% load wagtailcore_tags i18n wagtailimages_tags wagtailembeds_tags wtpages_tags %}

{% if carousel_items %}
	<div class="carousel-wrapper image-size-{{imagesize}} {{carousel_responsive_class}}">
    <div
        id="{{ id }}"
        class="carousel slide {{ carousel_class |default:"slideshow" }} {% if carousel_style == 'fading' %}fading{% endif %}"
        data-ride="carousel"
        data-interval="{{ interval |default:"5000" }}"
    >
        {% if carousel_items|length > 1 and show_controls %}
            <ol class="carousel-indicators">
            {% for carousel_item in carousel_items %}
                <li data-target="#{{ id }}" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
            </ol>
        {% endif %}

        <div class="carousel-inner" role="listbox">
            {% for carousel_item in carousel_items %}
            {% if carousel_item.visible or ignore_visible %}
            
            <div class="item{% if forloop.first %} active{% endif %}">
                {% if gallery_mode %}
                    {% image carousel_item.image max-1980x1980 as orig %}
                    <a class="modal-carousel" href="{{ orig.url }}" rel="{{id}}">
                        <span class="sr-only">Click to enlarge photo</span>
                        {% comment %}
                            <i class="fas fa-search-plus fa-7x"></i>
                        {% endcomment %}
                    </a>
                {% endif %}
                
                {% if carousel_item.image  %}                    

                    {% if imagesize == 'half' %}
                        {% image carousel_item.image fill-990x480-c100 as carouselimagedata %}                    
                    {% elif imagesize == "big_rect" %} 
						{% image carousel_item.image fill-866x577-c100 as carouselimagedata %}
					{% elif imagesize == "866x866" %} 
						{% image carousel_item.image fill-866x866-c100 as carouselimagedata %}	
					{% elif imagesize == "home_subpage_side_image" %} 
						{% image carousel_item.image fill-866x600-c100 as carouselimagedata %}											    
					{% elif imagesize == "regular" %} 
                        {% image carousel_item.image max-1980x1980 as carouselimagedata %}
                    {% elif imagesize == "inside" %} 
                        {% image carousel_item.image fill-1024x638-c100 as carouselimagedata %}    
                    {% elif imagesize == "full" %}                         
                        {% image carousel_item.image max-1920x1080 as carouselimagedata %}                        
                    {% elif imagesize == "condensed" %} 
                        {% image carousel_item.image fill-1980x458-c100 as carouselimagedata %}
					{% elif imagesize == "bottom_image" %} 
                        {% image carousel_item.image max-1980x1980 as carouselimagedata %}                    
					{% elif imagesize == "shop_product" %} 
						{% image carousel_item.image fill-768x866-c100 as carouselimagedata %}
					{% elif imagesize == "home_contact_side_image" %} 
                        {% image carousel_item.image fill-400x600-c100 as carouselimagedata %}	
                    {% else %}
                        {% if request.is_phone %}
                            {% image carousel_item.image max-1024x1024 as carouselimagedata %}
                        {% else %}
                            {% image carousel_item.image max-1980x1980 as carouselimagedata %}
                        {% endif %}
                    {% endif %}

					<div{% if not lazy_load %} data-lazyload="false" data-preload-image="{{carouselimagedata.url}}"{% endif %} style="background-image:url({{ carouselimagedata.url }})" class="carousel-image"></div>                    
					
                {% endif %}

                {% if carousel_item.caption or carousel_item.text or carousel_item.link %}
                 <div class="carousel-caption">
                
                	{% if carousel_item.link %}
                    <a target="{{carousel_item.target}}" href="{{ carousel_item.link }}">
                    {% endif %}
                    {% if carousel_item.caption %}
                    <div class="title">{{ carousel_item.caption|linebreaks }}</div>
                    {% endif %}

                    {% if carousel_item.text %}
                    <div class="text">
                    {{ carousel_item.text|richtext }}
                    </div>
                    {% endif %}
                    
                    {% if carousel_item.link %}
                    </a>
                    {% endif %}
                
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        {% if carousel_items|length > 1 and show_controls %}
            <a class="left carousel-control" data-target="#{{ id }}"  href="#{{ id }}" role="button" data-slide="prev">            
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#{{ id }}"  href="#{{ id }}" role="button" data-slide="next">            
                <span class="sr-only">Next</span>
            </a>
        {% endif %}

    </div>
    </div>    

{% endif %}
