{% load wagtailcore_tags i18n wagtailimages_tags wagtailembeds_tags wtpages_tags %}

{% if carousel_items %}
    <div class="fullscreen-slideshow eb-slide-show-defaults {{ css_class |default:"eb-slide-show" }}"
     data-time="{{ time |default:6 }}" data-duration="{{ duration }}" data-titlevisible="{{ title_visible }}"
     data-htmlvisible="{{ html_visible }}" data-linktitle="{{ link_title }}"  >
	
	{% for carousel_item in carousel_items %}
		
		{% if imagesize == "big_hor" %} 
			{% image carousel_item.image fill-1300x800-c100 as carouselimagedata %}
		{% endif %}
		
		{% if imagesize == "small_hor" %} 
			{% image carousel_item.image fill-300x185-c100 as carouselimagedata %}
		{% endif %}
		
		{% if imagesize == "big_vert" %} 
			{% image carousel_item.image fill-800x1300-c100 as carouselimagedata %}
		{% endif %}
		
		{% if imagesize == "small_vert" %} 
			{% image carousel_item.image fill-185x300-c100 as carouselimagedata %}
		{% endif %}
		
		{% if imagesize == "big_rect" %} 
			{% image carousel_item.image fill-866x866-c100 as carouselimagedata %}
		{% endif %}
		
		{% if imagesize == "small_rect" %} 
			{% image carousel_item.image fill-300x300-c100 as carouselimagedata %}
		{% endif %}
		
    	<div class="eb-slide-show-item-data" 
    		data-image="{{ carouselimagedata.url|escape }}" data-href="{{ carousel_item.link|escape }}" 
    		data-title="{{ carousel_item.caption|escape }}" data-html="{{ carousel_item.text|escape }}"		
			data-hreftarget="{{ carousel_item.href_target|escape }}"></div>            
    {% endfor %}

	{% if carousel_items|length > 1 and show_arrows %}        
		<div class="eb-slide-show-btn-prev {{ carousel_left_arrow_class |default:"glyphicon glyphicon-chevron-left" }}" aria-hidden="true"></div>
		<div class="eb-slide-show-btn-next {{ carousel_right_arrow_class |default:"glyphicon glyphicon-chevron-right" }}" aria-hidden="true"></div>
	{% endif %}
		
	{% if carousel_items|length > 1 and show_dots %}
		<ol class="eb-slide-show-dots">
		{% for carousel_item in carousel_items %}
           <li{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}			
		</ol>
	{% endif %}

    </div>
{% endif %}
