{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wtpages_tags %}

{% if carousel_items %}
    <div class="carousel slide {{ carousel_class |default:"carousel-header"  }}" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            {% for carousel_item in carousel_items %}
            <div class="item{% if forloop.first %} active{% endif %}">
                {% if carousel_item.embed_url %}
                <div class="text-center">
                    {{ carousel_item.embed_url|embed:1000 }}
                </div>
                {% else %}
                    {% if carousel_item.link %}<a href="{{ carousel_item.link }}">{% endif %}
                    {% image carousel_item.image original as carouselimagedata %}
                    <img src="{{ carouselimagedata.url }}" style="min-width: 100%; min-height:100%" alt="{{ carouselimagedata.alt }}" />
                    {% if carousel_item.link %}</a>{% endif %}
                {% endif %}

                {% if carousel_item.caption or carousel_item.text or carousel_item.link %}
                <div class="carousel-caption-wrapper">
                <div class="carousel-caption">
                    {% if carousel_item.caption %}
                    <h3>{{ carousel_item.caption|richtext }}</h3>
                    {% endif %}

                    {% if carousel_item.text %}
                    <div class="text hidden-xs">
                    {{ carousel_item.text|richtext }}
                    </div>
                    {% endif %}

                </div>
                </div>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
