[defaults]
log_path = ./logs/ansible-log.log
inventory = ./hosts.ini
timeout = 60

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=120
