{% load wagtailcore_tags wagtailimages_tags %}
{% if self.theme.images.all %}
<div class="section-decor-items-wrapper">
    {% for decor in self.theme.images.all %}
        {% if decor.image %}
            {% image decor.image max-600x600 as img %}
            <div 
                class="section-decor-item animate-{{decor.scroll_animate}} position-{{decor.position}}"
                id="decor-{{self.theme.pk}}-{{decor.pk}}"
                style="background-size: {{decor.background_size}}; background-position: {{decor.background_position}}; background-image:url({{img.url}});"
                data-position="{{decor.position}}" 
                data-animate="{{decor.scroll_animate}}"                 
                data-inside-container="{{decor.inside_container}}"                 
            ></div>
        {% endif %}				
    {% endfor %}
</div>
{% endif %}				