{% load wagtailcore_tags wagtailimages_tags %}

<article class="team-regular-block text-block themed-{{self.theme.id}} {{self.theme.css_class}}">
    {% if self.add_hash %}        
        <a class="anchor" id="{{self.add_hash}}"></a>
    {% endif %}

    {% if self.title %}
    <div class="page-header inside text-center">
        <div class="title-wrapper">
            <h2 class="title">{{ self.title }}</h2>                        
        </div>
    </div>             
    {% endif %}


    
    {% for item in self.items %}
    <div class="team-item themed-{{item.theme.id}} {{item.theme.css_class}} {% if self.view_more and item.bio_view_more %} show-view-more {% endif %} page-layout-{% cycle 'left' 'right' %}">                    
        <div class="container clearfix">
            <div class="photo">                        
                {% if request.is_phone %}
                    {% image item.photo max-1024x1024 as carouselimagedata %}
                {% else %}
                    {% image item.photo max-1980x1980 as carouselimagedata %}
                {% endif %}
                <img src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}">
            </div>
            <div class="bio">          
                <h3 class="h3 name">{{item.name}}</h3>              
                {% if item.position %}
                    <div class="position">{{item.position}}</div>
                {% endif %}
                {{ item.bio|richtext }}
                {% if self.view_more and item.bio_view_more %}
                    <div class="collapse" id="{{uid}}-{{forloop.counter}}">
                        {{ item.bio_view_more|richtext }}
                    </div>
                    <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-target="#{{uid}}-{{forloop.counter}}" aria-expanded="false" aria-controls="{{uid}}-{{forloop.counter}}">
                        View More
                    </button>
                {% endif %}                                                        
            </div>                               
        </div>
    </div>
    {% endfor %}
    


        
</article>
